<%= form_for(@gift_certificate) do |f| %>
  <% if @gift_certificate.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@gift_certificate.errors.count, "error") %> prohibited this gift_certificate from being saved:
      </h2>
      <ul>
      <% @gift_certificate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
    <p class="hint">
      <em>Set the amount in cents</em>. Multiply your dollar amount by 100, e.g. $35 x 100 = 3500.
    </p>
  </div>
  <div class="actions">
    <%= f.submit nil, class: "btn" %>
  </div>
<% end %>
