<h1>Gift Certificates</h1>
<p>
    This is a list of gift certificates that customers have purchased.
</p>

<div class="responsive-table-container">
<table class="table">
  <thead>
  <tr>
    <th>Guid (Redemption Code)</th>
    <th>Sale</th>
    <th>Owner</th>
    <th>Amount</th>
    <th>Remaining Amount</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @gift_certificates.each do |gift_certificate| %>
  <tr>
    <td>
      <code style="font-size: 110%">
        <%= link_to gift_certificate.guid, gift_certificate %>
      </code>
    </td>
    <td>
      <% if gift_certificate.sale_id.present? %>
        <%= link_to gift_certificate.sale_id, "/sales/#{gift_certificate.sale_id}" %>
      <% else %>
        n/a
      <% end %>
    </td>
    <td>
      <% if gift_certificate.sale_id.present? %>
        <%= gift_certificate.sale.contact %>
      <% else %>
        n/a
      <% end %>
    </td>
    <td>
      <%= number_to_currency(cents_to_dollars(gift_certificate.amount)) %>
    </td>
    <td>
      <%= number_to_currency(cents_to_dollars(gift_certificate.remaining_amount)) %>
    </td>
    <td>
      <%= link_to 'Show', gift_certificate_path(gift_certificate), class: "btn btn--table" %>
      <%= link_to 'Edit', edit_gift_certificate_path(gift_certificate), class: "btn btn--table" %>
      <%= link_to 'Destroy', gift_certificate, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn--table" %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
</div>


<%= link_to 'New Gift certificate', new_gift_certificate_path, class: "btn" %>
