<div class="l-row l-row--session">
  <h2>
    Edit Profile
  </h2>

  <% resource.build_camper if resource.camper.nil? %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="label-input-pair">
      <label class="label">
        <%= f.check_box :is_attending_campout_in_2015, class: "input", id: "js-camper-checkbox" %>
        <span style="background-color: #ffa">
          Will you be attending the Swift Campout?
        </span>
      </label>
    </div>

    <div id="js-camper-fields" style="display:none">
      <%= render partial: 'camper_fields', locals: { f: f } %>
    </div>

    <div class="label-input-pair">
      <%= f.label :contact, "Name", class: "label" %>
      <%= f.text_field :contact, autofocus: true, class: "input" %>
    </div>

    <div class="label-input-pair">
      <%= f.label :city, class: "label" %>
      <%= f.text_field :city, class: "input" %>
    </div>

    <div class="label-input-pair">
      <%= f.label :state, class: "label" %>
      <%= f.text_field :state, class: "input" %>
    </div>

    <div class="label-input-pair">
      <%= f.label :zip_code, class: "label" %>
      <%= f.text_field :zip_code, class: "input" %>
    </div>

    <div class="label-input-pair">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, class: "input" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="label-input-pair">
      <%= f.label :password, class: "label" %>
      <%= f.password_field :password, autocomplete: "off", class: "input" %>
      <p class="label-input-pair__hint">
        Leave blank if you don't want to change it.
      </p>
    </div>
    <div class="label-input-pair">
      <%= f.label :password_confirmation, class: "label" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "input" %>
    </div>

    <div class="label-input-pair">
      <%= f.label :current_password, class: "label" %>
      <%= f.password_field :current_password, autocomplete: "off", class: "input" %>
      <p class="label-input-pair__hint">
        We need your current password to confirm your changes.
      </p>
    </div>

    <div class="submit-wrap">
      <%= f.submit "Update", class: "btn" %>
    </div>

  <% end %>


  <h5 style="margin-top: 150px">
    Cancel my account
  </h5>
  <div class="submit-wrap">
    <%= button_to "Cancel my account", registration_path(resource_name), class: "btn", style: "background-color: #bbb", data: { confirm: "Are you sure?" }, method: :delete %>
  </div>

  <%# link_to "Back", :back %>
</div>


<%= content_for :js do %>
  <script>
  ;(function() {
    var checkbox = $$('js-camper-checkbox'),
        camperFields = $$('js-camper-fields');

    function toggleVisibility(isCamping) {
      camperFields.style.display = isCamping ? 'block' : 'none';
    }

    toggleVisibility(checkbox.checked);

    checkbox.addEventListener('click', function() {
      toggleVisibility(this.checked);
    });
  })();
  </script>
<% end %>
