<div class="l-row l-row--session">
  <h2>
    <% if @is_attending_campout_in_2015 %>
      Swift Campout Sign Up
    <% elsif @is_pending_wholesale %>
      Dealer Sign Up
    <% else %>
      Sign Up
    <% end %>
  </h2>
  <% if @is_attending_campout_in_2015 %>
    <p>
      Sign on to mark the map with your campout, then invite friends far and wide to band together for a night afield.
    </p>
    <p>
      Once you’ve joined there’s lots to win! Share Campout Films to earn a touring outfit from Swift Industries, complete with an Adventure Cycling Association membership and add Trip Journals to win Swift Campout accessories.
    </p>
  <% end %>
  <% if @is_pending_wholesale %>
    <p>
      To become a Swift Industries dealer, you must apply by emailing
      <%= mail_to Company.first.email, Company.first.email, encode: "hex", subject: "Dealer Sign Up" %>.
    </p>
  <% end %>

  <% if @is_attending_campout_in_2015 %>
    <% resource.build_camper if resource.camper.nil? %>
  <% end %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <% if @is_attending_campout_in_2015 %>
      <input
        type="hidden"
        name="user[is_attending_campout_in_2015]"
        value="true">
    <% end %>
    <% if @is_pending_wholesale %>
      <input
        type="hidden"
        name="user[is_pending_wholesale]"
        value="true">
    <% end %>
    <div class="label-input-pair">
      <%= f.label :contact, "Name", class: "label label--required" %>
      <%= f.text_field :contact, autofocus: true, class: "input" %>
    </div>

    <div class="label-input-pair">
      <%= f.label :city, class: "label label--required" %>
      <%= f.text_field :city, class: "input" %>
    </div>

    <div class="label-input-pair">
      <%= f.label :state, class: "label label--required" %>
      <%= f.text_field :state, class: "input" %>
    </div>

    <div class="label-input-pair">
      <%= f.label :zip_code, class: "label label--required" %>
      <%= f.text_field :zip_code, class: "input" %>
    </div>

    <div class="label-input-pair">
      <%= f.label :email, class: "label label--required" %>
      <%= f.email_field :email, class: "input" %>
      <p class="label-input-pair__hint">
        We will not share your email address.
      </p>
    </div>

    <div class="label-input-pair">
      <%= f.label :password, class: "label label--required" %>
      <%= f.password_field :password, autocomplete: "off", class: "input" %>
      <p class="label-input-pair__hint">
        Password must be a minimum of 8 characters.
      </p>
    </div>

    <div class="label-input-pair">
      <%= f.label :password_confirmation, class: "label label--required" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "input" %>
    </div>
    <% if @is_attending_campout_in_2015 %>
      <%= render partial: 'camper_fields', locals: { f: f } %>
    <% end %>

    <% if @is_attending_campout_in_2015 %>
      <div class="label-input-pair">
        <label for="agree" class="label">
          <input type="checkbox" id="agree">
          Swift Industries is here to inspire your wandering ways, but we are in no way liable for safety or mishaps related to the Swift Campout. By creating a Swift Campout account you are taking full responsibility to travel safely and you are acknowledging the personal risks of traveling by bicycle.
        </label>
      </div>
    <% end %>

    <div class="submit-wrap">
      <%= f.submit "Sign up", class: "btn", id: "submitBtn" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

<%= content_for :js do %>
  <script>
    (function handleAgree() {
      var submitBtn = document.getElementById('submitBtn'),
          agreeCheckbox = document.getElementById('agree');

      if (!submitBtn || !agreeCheckbox) {
        return;
      }

      if (!agreeCheckbox.checked) {
        submitBtn
          .setAttribute('disabled', 'disabled');
      }

      document
        .getElementById('agree')
        .addEventListener('change', function(event) {
          if (this.checked) {
            submitBtn.removeAttribute('disabled');
          } else {
            submitBtn.setAttribute('disabled', 'disabled');
          }
        });
    })();
  </script>
<% end %>
