<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <p>
      <%= mail_to @user.email %>
    </p>
  </div>
  <div class="field">
    <%= f.label :contact %>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :line1 %>
    <%= f.text_field :line1 %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :admin %>
    <p>
      <em>Not editable</em>
    </p>
  </div>
  <div class="field">
    <%= f.label :wholesale, "Dealer" %>
    <%= f.check_box :wholesale %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn" %>
  </div>
<% end %>
