<%= form_for(@user) do |f| %>
  <div class="grid wrap">
    <div class="unit w-1-1">
      <h2>
        My Info
      </h2>
    </div>
  </div>
  <div class="grid wrap">
    <div class="unit w-1-2">
      <h3>
         Contact Info
      </h3>
      <div class="label-input-pair">
        <label class="label">
          Company
        </label>
        <%= f.text_field :company %>
      </div>
      <div class="label-input-pair">
        <label class="label">
          Company Contact
        </label>
        <%= f.text_field :contact %>
      </div>
      <div class="label-input-pair">
        <label class="label">
          Website URL
        </label>
        <%= f.text_field :company_url %>
      </div>
      <div class="label-input-pair">
        <label class="label">
          Phone Number
        </label>
        <%= f.text_field :phone_no %>
      </div>
    </div>
    <div class="unit w-1-2">
      <h3>
        Postal Address
      </h3>
      <div class="label-input-pair">
        <label class="label">
          Address
        </label>
        <%= f.text_field :line1 %>
      </div>
      <div class="label-input-pair">
        <label class="label">
          City
        </label>
        <%= f.text_field :city %>
      </div>
      <div class="label-input-pair">
        <label class="label">
          State/Province
        </label>
        <%= f.text_field :state %>
      </div>
      <div class="label-input-pair">
        <label class="label">
          Zip Code
        </label>
        <%= f.text_field :zip_code %>
      </div>
      <div class="label-input-pair">
        <label class="label">
          Country
        </label>
        <%= f.text_field :country %>
      </div>
    </div>
  </div>
  <div class="grid wrap">
    <div class="unit w-1-1">
      <%= f.submit "Submit", class: "btn" %>
    </div>
  </div>
<% end %>
