<h1>
  Users
</h1>
<p>
  <%= link_to raw('&larr; Hub'), hub_path, class: "btn" %>
</p>

<div class="tabs">
  <div class="tab">
    Dealers
  </div>
  <div class="tab">
    Users
  </div>
  <div class="tab">
    Campers 2015
  </div>
  <div class="tab">
    Admins
  </div>
  <div class="tab-divider"></div>
  <div class="card">
    <%= render 'users_table', users: @dealers, type: :dealer %>
  </div>
  <div class="card">
    <%= render 'users_table', users: @users, type: :user %>
  </div>
  <div class="card">
    <%= render 'users_table', users: @campers_2015, type: :camper %>
  </div>
  <div class="card">
    <%= render 'users_table', users: @admins, type: :admin %>
  </div>
</div>

<%= content_for :js do %>
<script>
  $(document).ready(function(){
    $('.tabs').tabs();
  });
</script>
<% end %>
