<div class="l-row l-row--session">
  <h2>
    Change your password
  </h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="label-input-pair">
      <%= f.label :password, "New password", class: "label" %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "input" %>
    </div>
    <div class="label-input-pair">
      <%= f.label :password_confirmation, "Confirm new password", class: "label" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "input" %>
    </div>
    <div class="submit-wrap">
      <%= f.submit "Change my password", class: "btn" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
