<div class="l-row l-row--session">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="label-input-pair">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, autofocus: true, class: "input" %>
    </div>
    <div class="submit-wrap">
      <%= f.submit "Send me reset password instructions", class: "btn" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
