<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <style>
        body {
            font-family: Helvetica, Arial, san-serif;
        }
    </style>
</head>
<body>
<%= @subject %>
(<a href="https://www.builtbyswift.com/products/<%= @product.id %>/edit">edit</a>).
</body>
</html>
