<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @pre_approved_dealer.email %>
</p>


<%= link_to 'Edit', edit_pre_approved_dealer_path(@pre_approved_dealer) %> |
<%= link_to 'Back', pre_approved_dealers_path %>
