<footer class="l-row row-footer">
  <ul class="nav-list row" style="width: 90%">
    <% cache ["footer_products_nav", Product.public_products] do %>
      <li class="nav-list--item col-xs-12 col-sm-3">
        <strong class="nav-list--group-heading">Our Products</strong>
        <ul class="nav-list--group">
          <% Product.public_products.each do |product| %>
            <li class="nav-list--group-item">
              <%= link_to product.title, product, class: "nav-list--group-item-link" %>
            </li>
          <% end %>
          <li class="nav-list--group-item">
            <%= link_to "Ready Made", store_path, class: "nav-list--group-item-link" %>
          </li>
        </ul>
      </li>
    <% end %>
    <li class="nav-list--item col-xs-12 col-sm-3">
      <strong class="nav-list--group-heading">About Us</strong>
      <ul class="nav-list--group">
        <%= render 'shared/pages_nav' %>
        <% cache ["footer_blog_link", APP_CONFIG] do %>
          <li class="nav-list--group-item">
            <%= link_to "Cycle Swift Blog", APP_CONFIG[:personal_blog_url], class: "nav-list--group-item-link" %>
          </li>
        <% end %>
      </ul>
    </li>
    <% cache ["footer_company_contact", Company.first] do %>
      <li class="nav-list--item col-xs-12 col-sm-3">
        <strong class="nav-list--group-heading">Get in Touch</strong>
        <ul class="nav-list--group">
          <li class="nav-list--group-item">
            <%= mail_to Company.first.email, Company.first.email, :encode => "hex", :subject => "[via builtbyswift.com] ", :class => "nav-list--group-item-link" %>
          </li>
          <li class="nav-list--group-item">
            <%= link_to Company.first.phone, Company.first.phone_link, :class => "nav-list--group-item-link" %>
          </li>
        </ul>
      </li>
    <% end %>
    <% cache ["footer_social_links", APP_CONFIG] do %>
      <li class="nav-list--item col-xs-12 col-sm-3">
        <strong class="nav-list--group-heading">Be Social</strong>
        <ul class="nav-list--group nav-list--group-inline">
          <%= render 'shared/social_nav' %>
        </ul>
      </li>
    <% end %>
  </ul>
  <%= image_set_tag "fox-45.png", { "fox-45.png" => "2x" }, { class: "footer-fox img-fox" } %>
</footer>
<br class="clear">
