<div id="global-menu" class="menu--row-nav" style="display:none">
  <ul class="l-row row nav-list nav-list--global">
    <%= render "shared/products_nav" %>
    <% if user_signed_in? %>
      <li class="nav-list--item col-xs-12 col-sm-3 col-md-2">
        <strong class="nav-list--group-heading">Your Account</strong>
        <ul class="nav-list--group">
          <li class="nav-list--group-item">
          <%= link_to "My Info", edit_user_registration_path, class: "nav-list--group-item-link" %>
          </li>
          <li class="nav-list--group-item">
            <%= link_to "Order History", orders_path, class: "nav-list--group-item-link" %>
          </li>
        </ul>
      </li>
    <% end %>
    <li class="nav-list--item col-xs-12 col-sm-3 col-md-2">
      <strong class="nav-list--group-heading">About Us</strong>
      <ul class="nav-list--group">
        <%= render 'shared/pages_nav' %>
        <li class="nav-list--group-item">
          <%= link_to "Cycle Swift Blog", APP_CONFIG[:personal_blog_url], class: "nav-list--group-item-link" %>
        </li>
      </ul>
    </li>
    <li class="nav-list--item col-xs-12 col-sm-3 col-md-2">
      <% cache ["global_nav_company_contact", Company.first ] do %>
        <strong class="nav-list--group-heading">Get in Touch</strong>
        <ul class="nav-list--group">
          <li class="nav-list--group-item">
            <%= mail_to Company.first.email, Company.first.email, encode: "hex", subject: "[via builtbyswift.com] ", class: "nav-list--group-item-link" %>
          </li>
          <li class="nav-list--group-item">
            <%= link_to Company.first.phone, Company.first.phone_link, class: "nav-list--group-item-link" %>
          </li>
        </ul>
      <% end %>
    </li>
    <li class="nav-list--item col-xs-12 col-sm-3 col-md-2">
      <strong class="nav-list--group-heading">Be Social</strong>
      <ul class="nav-list--group nav-list--group-social nav-list--group-inline">
        <%= render 'shared/social_nav' %>
      </ul>
    </li>
    <li class="nav-list--item col-xs-12 col-sm-3 col-md-2">
      <strong class="nav-list--group-heading">Ready Made</strong>
      <ul class="nav-list--group">
        <li class="nav-list--group-item">
          <%= link_to "Our Ready Made store", store_path, :class => "nav-list--group-item-link" %>.
        </li>
      </ul>
    </li>
  </ul>
</div>
