<% cache ["products_nav_categories", Category.all] do %>
  <% Category.all.each_with_index do |category, idx| %>
    <% next unless category.products.where(status: "Public").length > 0 %>
    <li class="nav-list--item col-xs-12 col-sm-3 col-md-2">
      <% cache ["products_nav_category_title", category] do %>
        <strong class="nav-list--group-heading">
          <%= category.title %>
        </strong>
      <% end %>
      <% cache ["products_nav_category_products", category.products] do %>
        <ul class="nav-list--group">
          <% category.products.each do |product| %>
            <% next unless product.public? %>
            <li class="nav-list--group-item">
              <%= link_to product.short_title, product, class: "nav-list--group-item-link" %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
<% end %>
