<% if @photos.present? %>
    <div class="slideshow-wrapper">
        <% @photos.each do |photo| %>
            <div class="slideshow-item" style="display:none">
                <div class="slideshow-photo-wrapper">
                    <img class="slideshow-photo"
                        id="photo<%= photo[:id] %>"
                        data-text="<%= photo[:title].blank? ? "Untitled" : photo[:title] %>"
                        data-caption="#photo_caption_<%= photo[:id] %>"
                        src="<%= photo[:url] %>"
                        data-large="<%= photo[:large_url] %>">
                        <%= render "shared/pin",
                             :url => photo[:flickr_url],
                             :media => photo[:large_url],
                             :description => photo[:title]
                         %>
                    <div class="slideshow-nav">
                        <div class="slideshow-nav-item slideshow-nav--next" data-dir="next">
                            &raquo;
                        </div>
                        <div class="slideshow-nav-item slideshow-nav--previous" data-dir="previous">
                            &laquo;
                        </div>
                    </div>
                </div>
                <div class="slideshow-info" id="desc<%= photo[:id] %>">
                    <p>
                        <%= photo[:title].blank? ? "Untitled" : photo[:title] %>
                        <a class="slideshow-info--flickr-link" href="<%= photo[:flickr_url] %>">
                            (View on Flickr)
                        </a>
                    </p>
                    <div class="slideshow-info--desc" style="display:none">
                        <%# raw photo[:description] %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <%= content_for :js do %>
      <script>
        $(document).ready(function() {
            $('.slideshow-wrapper').slideshow();
        });
      </script>
      <script src="//assets.pinterest.com/js/pinit.js"></script>
    <% end %>
<% else %>
    <div class="slideshow__no-photos">
      <div class="slideshow__no-photos-text">
        Photos could not be loaded.
      </div>
    </div>
<% end %>
