Contact: <%= @sale.contact %>
Company: <%= @sale.company %>
Email: <%= @sale.email %>
Phone: <%= @sale.phone_no %>

Hub URL: https://www.builtbyswift.com/sales/<%= @sale.id %>
Customer URL: https://www.builtbyswift.com/orders/<%= @sale.guid %>
Stripe URL: https://manage.stripe.com/prod/payments/<%= @sale.stripe_id %>

<% if @sale.pickup? %>
  Customer will pick up order.
<% else %>
  Shipping:

  - Charge: <%= @sale.shipping_charge %>
  - Provider: <%= @sale.shipping_provider %>
  - Service: <%= @sale.shipping_service %>
  - Flat Rate?: <%= @sale.shipping_service_is_flat_rate? %>
<% end %>
