<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <style>
  body {
    font-family: Helvetica, Arial, san-serif;
  }
  </style>
</head>
<body>
  <p><b>Your order is ready for pickup!</b></p>
  <p>Our shop hours are<br>
    Thursday 4-7pm<br>
    Friday 4-7pm<br>
    Saturdays 12-5pm
  </p>
  <p>
    We are located on the second floor at<br>
    1415 NW 49th St<br>
    Seattle WA 98107
  </p>
  <p>
    View your e-receipt and order details here:<br>
    <a href="https://www.builtbyswift.com/orders/<%= @sale.guid %>">
      https://www.builtbyswift.com/orders/<%= @sale.guid %>
    </a>
  </p>
  <p>
    Thanks for choosing Swift Industries
  </p>
</body>
</html>
