Your order is ready for pickup!

Our shop hours are
Thursday 4-7pm
Friday 4-7pm
Saturdays 12-5pm

We are located on the second floor at
1415 NW 49th St
Seattle WA 98107

View your e-receipt and order details here:
https://www.builtbyswift.com/orders/<%= @sale.guid %>

Thanks for choosing Swift Industries
