Your order has shipped via USPS. There is no tracking available.

You can find all of your order details at:

- https://www.builtbyswift.com/orders/<%= @sale.guid %>

Thanks for choosing Swift Industries
