Your order has shipped via <%= @shipment.carrier.upcase %> and has a tracking number of <%= @shipment.tracking_number %>.

You can find all of your order details at:

- https://www.builtbyswift.com/orders/<%= @sale.guid %>

Thanks for choosing Swift Industries
