Your order is up on the board.

You can find the details of your order at:

- https://www.builtbyswift.com/orders/<%= @guid %>

Wait time

Custom: If your order is custom,  we'll need a calendar month to complete your order. Thanks in advance for your patience!

Stock: If you purchased stock and accessories your purchase will be in the mail within three working days.

Shipping and pick-up info

You will receive shipping confirmation when the parcel is on its way. International Shipping is sent through USPS. USPS does not offer international tracking, but you will receive a shipping confirmation email. For local pick up, we'll let you know when the bags are finished!

Soapbox

And lastly, your purchase supports a small bicycle business right in the Pacific Northwest. By supporting Swift you are keeping the bicycle economy diverse and domestic, but even more importantly, you are putting money into handcraft products.

Thanks for choosing Swift Industries
