<p class="S-p S-p--heading">
  Calling bicycle adventurers worldwide!
</p>
<p class="S-p">
  Swift Industries invites you to pack up and skip town on Solstice weekend for a Swift Campout, June 20th + 21st 2015.
</p>
<p class="S-p">
  Sign on to mark the map with your campout, then invite friends far and wide to band together for a night afield.
</p>
<p class="S-p">
  Wherever you may be, roll to camp and settle in for a night under starry skies. Go explore the Coast Range of California, hang a hammock in the Pine Barrens, or wake to camp-coffee outside of Tokyo. Discover the solitude of an uncharted spot or head into the hills with a bunch of friends. Your call.
</p>
<p class="S-p">
  In the spirit of bike camping all we ask is that your adventure is self-supported and that you <b>leave no trace</b>.
</p>

<p class="S-p S-p--heading">
  Once you’ve joined there’s lots to win!
</p>
<p class="S-p">
  Share <span class="S-a" ng-dialog="films.html">Campout Films</span> to earn a touring outfit from Swift Industries, complete with an Adventure Cycling Association membership and add <span class="S-a" ng-dialog="journals.html">Trip Journals</span> to win Swift Campout accessories. But there’s more: we’ll kick-start give-aways with patches for the first 25 campers to sign up, and the goodies will keep coming as Swift Campout weekend rolls around.
</p>




<p class="S-p" id="signup" style="text-align: center">
  <br><br>
  <%= image_tag 'solstice/hashtag-green-800.png', alt: '#swiftcampout', class: 'S-hashtag-img' %>
</p>
<% if !user_signed_in? %>
  <div class="Solistice-signup-btn-wrap">
    <%= link_to "Sign Up", new_user_registration_path(swiftcampout: "1"), class: "Solistice-btn Solistice-btn--signup" %>
  </div>
<% elsif user_signed_in? && current_user.is_not_camper? %>
  <div class="Solistice-signup-btn-wrap">
    <%= link_to "Sign Up", edit_user_registration_path, class: "Solistice-btn Solistice-btn--signup" %>
  </div>
<% else %>
  <div class="Solistice-signup-btn-wrap">
    <div class="Solistice-btn Solistice-btn--signup Solistice-btn--signup--welcome">
      Thanks for Signing Up!
    </div>
  </div>
<% end %>
<p class="S-p S-p--disclaimer">
  Swift Industries is here to inspire your wandering ways, but we are in no way liable for safety or mishaps related to the Swift Campout. By creating a Swift Campout account you are taking full responsibility to travel safely and you are acknowledging the personal risks of traveling by bicycle.
</p>
