<p class="S-p S-p--heading">
  Once you’ve joined there’s lots to win!
</p>
<p class="S-p">
  Share <span class="S-a" ng-dialog="films.html">Campout Films</span> to earn a touring outfit from Swift Industries, complete with an Adventure Cycling Association membership and add <span class="S-a" ng-dialog="journals.html">Trip Journals</span> to win Swift Campout accessories. But there’s more: we’ll kick-start give-aways with patches for the first 25 campers to sign up, and the goodies will keep coming as Swift Campout weekend rolls around.
</p>
