<div class="S-col--prizes">
  <p class="S-p S-p--heading S-col-heading">
    Prizes
  </p>
  <sw-flickr-photo id="16307793424" label="Large Square"></sw-flickr-photo>
  <sw-flickr-photo id="16307824624" label="Large Square"></sw-flickr-photo>
  <sw-flickr-photo id="16187317263" label="Large Square"></sw-flickr-photo>
  <sw-flickr-photo id="16310197823" label="Large Square"></sw-flickr-photo>
  <sw-flickr-photo id="16742497138" label="Large Square"></sw-flickr-photo>
  <sw-flickr-photo id="16797565659" label="Large Square"></sw-flickr-photo>
  <sw-flickr-photo id="16363663343" label="Large Square"></sw-flickr-photo>
  <sw-flickr-photo id="16796364650" label="Large Square"></sw-flickr-photo>
  <sw-flickr-photo id="16363733153" label="Large Square"></sw-flickr-photo>
  <sw-flickr-photo id="16361452574" label="Large Square"></sw-flickr-photo>
  <sw-flickr-photo id="17322410452" label="Large Square"></sw-flickr-photo>
  <sw-flickr-photo id="16703985703" label="Large Square"></sw-flickr-photo>
</div>







