<div class="S-col--rec-gear">
  <p class="S-p S-p--heading S-col-heading">
    Recommended Gear
  </p>
  <sw-flickr-photo id="15150441340" label="Large Square"></sw-flickr-photo>
  <sw-flickr-photo id="16177012833" label="Large Square"></sw-flickr-photo>
  <sw-flickr-photo id="16186969493" label="Large Square"></sw-flickr-photo>
  <sw-flickr-photo id="15147527950" label="Large Square"></sw-flickr-photo>
  <sw-flickr-photo id="15389285153" label="Large Square"></sw-flickr-photo>
</div>
