<script type="text/ng-template" id="twitter.html">
  <ul class="TwitterDir-items">
    <li class="TwitterDir-item Grid Grid--top" ng-repeat='tweet in tweets'>
      <div
        class="TwitterDir-user-icon Grid-unit Grid-unit--rock"
        afkl-lazy-image="{{ tweet.profile_image }}">
      </div>
      <div class="Grid-unit">
        <div class="TwitterDir-tweet-text">
          {{ tweet.text }}
        </div>
        <div class="TwitterDir-tweet-screenName">
          <a
            class="TwitterDir-tweet-screenName-link"
            ng-href="{{ tweet.link }}">
            {{ tweet.screen_name }}
          </a>
        </div>
      </div>
    </li>
  </ul>
</script>
