<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @size.title %>
</p>

<p>
  <b>Price:</b>
  <%= @size.price %>
</p>

<p>
  <b>Price:</b>
  <%= @size.wholesale_price %>
</p>


<%= link_to 'Edit', edit_size_path(@size) %> |
<%= link_to 'Back', sizes_path %>
