<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email  %>
  </div>

  <div class="field row">
    <label for="contact_archived">
      <%= f.check_box :archived %>
      Archived
    </label>
  </div>

  <div class="actions">
    <%= f.submit nil, class: "btn" %>
  </div>
<% end %>
