<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Archived:</b>
  <%= @contact.archived %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
