<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
    <p class="hint">
        The text that google uses for the "summary" text for the site.
    </p>
  </div>
  <div class="field">
    <%= f.label :delivery_time %>
    <%= f.text_area :delivery_time %>
    <p class="hint">
        The "handmade takes time" text on the order page.
    </p>
  </div>
  <div class="field">
    <%= f.label :front_door_sign %>
    <%= f.text_area :front_door_sign %>
    <p class="hint">
      This text will appear at the top of every public page.
    </p>
  </div>
  <div class="field row">
    <label for="company_close_shop">
        <%= f.check_box :close_shop %>
        Close the shop? (this will turn off the order forms)
    </label>
  </div>
  <div class="field">
    <%= f.label :close_shop_message %>
    <%= f.text_area :close_shop_message %>
    <p class="hint">
      This text will appear instead of the order form.
    </p>
  </div>
  <div class="actions">
    <%= f.submit nil, class: "btn" %>
  </div>
<% end %>
