<h1>Listing companies</h1>

<div class="responsive-table-container">
<table class="table">
  <tr>
    <th>Title</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.title %></td>
    <td><%= company.email %></td>
    <td><%= company.phone %></td>
    <td><%= company.address %></td>
    <td><%= company.description %></td>
    <td><%= company.front_door_sign %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>

<p>
  <%= link_to 'New Company', new_company_path %>
</p>
