<p id="notice" class="row"><%= notice %></p>

<div class="twelve columns">
    <h1>
        Swift Industries
    </h1>
</div>
<div class="four columns">
    <%= link_to raw('&larr; Hub'), hub_path, class: "btn" %>
    <%= link_to 'Edit', edit_company_path(@company), :class => "btn" %>
</div>

<div class="eight columns">
    <h4>Title</h4>
    <p>
      <%= @company.title %>
    </p>

      <h4>Email</h4>
    <p>
      <%= @company.email %>
    </p>

      <h4>Phone</h4>
    <p>
      <%= @company.phone %>
    </p>

      <h4>Address</h4>
    <p>
      <%= @company.address %>
    </p>

      <h4>Description</h4>
    <p>
      <%= @company.description %>
    </p>
</div>
<div class="eight columns">
      <h4>Delivery time</h4>
    <p>
      <%= @company.delivery_time %>
    </p>

      <h4>Front door sign</h4>
    <p>
      <% if @company.front_door_sign.present? %>
        <%= @company.front_door_sign %>
      <% else %>
        <i>blank</i>
      <% end %>
    </p>

      <h4>Is the shop closed?</h4>
    <p>
      <%= @company.close_shop %>
    </p>

      <h4>Shop closed message</h4>
    <p>
      <%= @company.close_shop_message %>
    </p>
</div>
