<div id="hero" class="hero">
  <% if @photos.present? %>
    <div id="hero-scroll">
      <% @photos.each do |photo| %>
        <img
          src="<%= photo[:small_320_url].gsub('http:', '') %>"
          <% if photo[:medium_640_url].present? %>
            srcset="<%= photo[:medium_640_url].gsub('http:', '') %> 2x"
          <% end %>
          class="hero-img">
      <% end %>
    </div>
  <% end %>
  <% cache ["home_featured_product", @featured_product] do %>
    <div class="hero-text">
      <h5 class="hero-heading">
        <%= link_to @featured_product.title, @featured_product %>
      </h5>
      <div class="hero-paras">
        <% if @featured_product.short_description.present? %>
          <p>
            <%= @featured_product.short_description %>
          </p>
        <% else %>
          <%= raw md @featured_product.description %>
        <% end %>
      </div>
      <div class="hero-toggle hero-close icon-down-open-big"></div>
      <div class="hero-toggle hero-open icon-up-open-big"></div>
    </div>
  <% end %>
</div>
