<div class="l-row">
  <%= render 'hero' %>
</div>
<ul class="l-row row nav-list">
  <%= render "shared/products_nav" %>
</ul>
<div class="l-row">
  <p>
    Also take a look at our <%= link_to "Ready Made", store_path, :class => "hl-link" %> store.
  </p>
</div>
<div class="l-row row">
  <div class="col-xs-12 col-sm-6">
    <% cache ["home_featured_pages", Page.featured_pages ] do %>
      <% Page.featured_pages.each do |featured_page| %>
        <article class="featured-page">
          <% unless featured_page.hide_title_on_homepage %>
            <h3>
              <%= featured_page.title %>
            </h3>
          <% end %>
          <% if featured_page.show_video_on_homepage %>
            <div class="featured-page__video-wrap">
              <%= raw featured_page.video_html %>
            </div>
          <% end %>
          <% if featured_page.show_photo_on_homepage %>
            <div class="featured-page__photo-wrap">
              <% photo_url = Page.get_photo_by_id(featured_page.flickr_photo, "Medium") %>
              <% if photo_url.present? %>
                <%= link_to(image_tag(photo_url, :class => "u-resp-img"), featured_page) %>
              <% end %>
            </div>
          <% end %>
          <% if featured_page.summary.present? %>
            <p class="featured-page__summary">
              <%= featured_page.summary %>
            </p>
          <% end %>
          <% unless featured_page.hide_read_more_link_on_homepage %>
            <p>
              <%= link_to raw("read more &rarr;"), featured_page, :class => "hl-link" %>
            </p>
          <% end %>
        </article>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <article class="blog">
      <% if @blog.nil? %>
        <!-- some error occurred and the blog could not be retrieved -->
      <% else %>
        <% if @blog["title"].present? %>
          <h3>
            <%= @blog["title"] %>
          </h3>
        <% end %>
        <% if @blog['img'].present? && @blog['description'].present? %>
          <p>
            <% if @blog['img'].present? %>
              <%= image_tag "#{@blog['img']}?w=300", class: "js-srcset-img u-resp-img", srcset: "#{@blog['img']}?w=420 420w, #{@blog['img']}?w=640 640w" %>
            <% end %>
            <% if @blog['description'].present? %>
              <%= raw @blog["description"] %>
            <% end %>
          </p>
        <% end %>
        <% if @blog['link'].present? %>
          <p>
            <%= link_to raw("read more at the cycle swift blog &rarr;"), @blog['link'], :class => "hl-link" %>
          </p>
        <% end %>
      <% end %>
    </article>
  </div>
</div>

<% content_for :js do %>
<script>
  $(document).ready(function() {
    $('#hero').hero();
    $('.featured-page__video-wrap').fitVids();
  });
</script>
<% end %>
