<% cache ["store_stock", Product.public_stock] do %>
  <% if Product.public_stock.present? %>
    <h2 class="store-section-heading">
      Ready Made
    </h2>
  <% end %>
  <div class="l-row row">
    <% Product.public_stock.each_with_index do |stock, index| %>
      <%= render "store_items", item: stock, index: index %>
    <% end %>
  </div>
<% end %>
<% cache ["store_accessories", Product.public_accessories] do %>
  <% if Product.public_accessories.present? %>
    <h2 class="store-section-heading">
      Accessories
    </h2>
  <% end %>
  <div class="l-row row">
    <% Product.public_accessories.each_with_index do |accessory, index| %>
      <%= render "store_items", item: accessory, index: index %>
      <% end %>
  </div>
<% end %>

<%= content_for :js do %>
<script>
  $(document).ready(function() {
    $('.store-item--image-lazyload').unveil();
  });
</script>
<% end %>
