<%= form_for(@color) do |f| %>
  <% if @color.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@color.errors.count, "error") %> prohibited this color from being saved:</h2>

      <ul>
      <% @color.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
    <p class="hint">
        Leave empty if free.
    </p>
  </div>
  <div class="field">
    <%= f.label :wholesale_price %>
    <%= f.text_field :wholesale_price %>
    <p class="hint">
        Leave empty if free.
    </p>
  </div>
  <div class="field">
    <%= f.label :hex %>
    <%= f.text_field :hex %>
    <div id="picker"></div>
  </div>
  <div class="actions">
    <%= f.submit nil, class: "btn" %>
  </div>
<% end %>


<%= content_for :js do %>
  <script>
    $(document).ready(function(){
      if (($('#color_hex').val().trim() === '')) {
        $('#color_hex').val('#000000');
      }
      $('#picker').farbtastic('#color_hex');
    });
  </script>
<% end %>
