<h1>
    Colors
</h1>
<p>
  <%= link_to raw('&larr; Hub'), hub_path, class: "btn" %>
  <%= link_to 'New Color', new_color_path, class: "btn" %>
</p>

<div class="responsive-table-container">
<table class="table">
  <thead>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Price</th>
    <th>Wholesale Price</th>
    <th>Hex</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @colors.each do |color| %>
  <tr>
    <td>
        <div style="background-color: <%= color.hex -%>; width: 40px;">&nbsp;</div>
    </td>
    <td> <%= link_to color.title, color %></td>
    <td><%= "$" if color.price.present? %><%= color.price %></td>
    <td><%= "$" if color.wholesale_price.present? %><%= color.wholesale_price %></td>
    <td><%= color.hex %></td>
    <td>
      <%= link_to 'Edit', edit_color_path(color), class: "btn btn--table" %>
      <%= link_to 'Destroy', color, :confirm => 'Are you sure?', :method => :delete, class: "btn btn--table" %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
</div>
