@import 'normalize-css/normalize';
@import 'skeleton-base-modified';
@import 'flexboxgrid/dist/flexboxgrid';
//@import 'skeleton/stylesheets/skeleton';
//@import 'skeleton/stylesheets/layout';
//@import 'gridism/gridism';
@import '../javascripts/farbtastic/farbtastic';
@import 'module-container';
@import 'module-rails-form-errors';
@import 'module-jquery.tabs';
@import 'module-table';
@import 'module-form';
@import 'module-buttons';

body {
  padding-top: 40px;
  background-color: #fff;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  border-bottom: 1px solid magenta;
}
.hey {
  display: inline-block;
  padding: 1px;
  color: #FFF;
}
.hey--wah {
  @extend .hey;
  background-color: #FF851B;
}
.hey--yay {
  @extend .hey;
  background-color: #F012BE;
}
.hint {
  margin-top: -20px;
  color: #888;
  max-width: 360px;
}
.hint--for-checkbox {
  margin-top: 0;
}
//th {
  //  text-align: left;
  //  border-bottom: 1px solid #ccc;
  //  font-weight: bold
  //
//}
//th,td {
  //  padding: 8px 10px;
  //
//}
//tr:nth-child(odd) td {
  //  background-color: #fafafa;
  //
//}
.indent {
  background-color: rgba(255,255,255,.50);
  padding: 20px 20px 0 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #eee;
  max-width: 400px;
  box-shadow: inset 0 0 1px 0 #f6f6f6;
}
.destroy, .add {
  margin-bottom: 0;
}
.destroy > label > a,
.add > label > a,
a.action {
  color: #aaa;
  font-family: lucida grande, sans-serif;
  font-size: 85%;
  border: 0;
  padding: 1px;
}
.destroy > label > a:hover {
  color: #fff;
  background-color: #F00;
}
.add > label > a:hover {
  color: #fff;
  background-color: green;
}
.actions {
  margin: 60px 0;
}
#color_swatch {
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  width: 300px;
  height: 300px;
  padding: 20px;
}
.color_swatch {
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
.color_swatch span {
  background-color: #fff;
  padding: 1px;
  display: inline-block;
}
code {
  font-family: menlo, monospace;
  font-size: 12px;
}
.is-archived--true {
  color: #aaa;
}
.no-select {
  user-select: none;
}
input.input--dim {
  display: inline-block;
  width: 4em;
}
.hub-nav {
  padding-left: 0;
}
.card {
  padding: 10px;
}
.tab {
  border: 1px solid #aaa;
  border-bottom: 0;
  margin: 0;
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}
.tab-divider {
  border-top: 1px solid #aaa;
  position: relative;
  top: -1px;
  z-index: -1;
}
.demph {
  color: #bbb;
}
.tab .demph {
  display: inline-block;
  margin-left: .2em;
}
.app-notice,
.app-alert {
  font-size: 13px;
}
.app-notice {
  color: green;
}
.app-alert {
  color: red;
}
.ship-diff {
  color: black;
  font-family: menlo, monospace;
  font-size: 13px;
}
.ship-diff__arr {
  font-size: 120%;
  font-weight: bold;
  font-family: helvetica, sans-serif;
}
.ship-diff__perc {
  font-size: 90%;
}
textarea {
  width: 90%;
  line-height: 1.6;
  padding: 4px 8px;
}
@media (min-width: 768px) {
  textarea {
    width: 400px;
  }
}

.has-datetime-select select {
    display: inline-block;
    width: 50px;

    &:nth-of-type(1) {
        width: 60px;
    }
    &:nth-of-type(2) {
        width: 100px;
    }
}

.minimal-list {
  margin: 0;
  padding: 0;
  list-style-type: circle;
}
.minimal-list__item {

}


.color_boxes {
  column-count: 2;
  column-gap: 10px;
}

.mini-swatch {
  padding-left: 10px;
  margin-right: 1px;
  height: 14px;
  display: inline-block;
  vertical-align: text-bottom;
}


.nested-fields {
  position: relative;

  .field.destroy {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}


.app-notice,
.app-alert {
  text-align: center;
}


.u-inventory--low,
.u-inventory--zero {
  border-radius: 2px;
  padding: 0 2px;
  color: #fff;
  font-weight: bold;
}
.u-inventory--low {
  background-color: #B97AFD;
}
.u-inventory--zero {
  background-color: #E60000;

}
