/*
*= require normalize-css/normalize
*= require skeleton-base-modified
*= require flexboxgrid/dist/flexboxgrid
*= require ngDialog/css/ngDialog
*= require ngDialog/css/ngDialog-theme-default
*= require leaflet/leaflet
*/

// box-sizing ftw
*, *:before, *:after {
  box-sizing: border-box;
}
// Skeleton is not compatible with border-box
//.container {
//  box-sizing: content-box;
//}
.pr--block,
.pr--inline {
  display: none;
}

// Third party
@import 'flexslider/flexslider';
@import 'flexslider-overrides';

// Includes
@import 'include-color';
@import 'include-media';
// Base
@import 'utils';
@import 'base-entypo';
@import 'base-type';
@import 'base-list';
@import 'base-grid';
// Layouts
@import 'layout-pub';
@import 'layout-global-nav';
@import 'layout-footer';
@import 'layout-humans';
// Pages
@import 'glob-homes';
@import 'glob-page';
// Modules
@import 'module-container';
@import 'module-blog';
@import 'module-buttons';
@import 'module-cart';
@import 'module-checkout';
@import 'module-color.picker';
@import 'module-form';
@import 'module-rails-form-errors';
@import 'module-hero';
@import 'module-jquery.tabs';
@import 'module-nav';
@import 'module-nojs';
@import 'module-order.form';
@import 'module-private';
@import 'module-related-products';
@import 'module-slideshow';
@import 'module-store';
@import 'module-success';
@import 'module-table';
@import 'module-testimonials';
@import 'module-video';
@import 'module-dialog';
@import 'module-solstice-home-banner';
@import 'module-twitter-dir';
@import 'module-insta-dir';
@import 'module-flickr-dir';

// Really this is mostly a collection
// of "modules", therefore I'm putting
// it last
@import 'layout-solstice';
@import 'module-camper-profile';

// Override the base style set by Skeleton
a {
  color: $hotpink;
  text-decoration: none;
}
a:hover, a:focus {
  color: $hotpink;
}
// End override
img.center-in-grid {
  display: block;
  margin: 0 auto;
}
.nice-list {
  list-style-type: square;
  margin-left: 14px;
  margin-top: 15px;
  li {
    margin-bottom: 4px;
  }
}
select.ng-invalid.ng-dirty,
input.ng-invalid.ng-dirty {
  border: 1px solid red;
}
.label.input--dirty {
  color: red;
}
.browsehappy {
  margin: 0;
  text-align: center;
  background-color: #FFF088;
  padding: 20px;
  line-height: 1.4;
}
// This makes ng-cloak actually work
[ng-cloak] {
  display: none !important;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
