@font-face {
  font-family: 'fontello';
  src: url(asset_path('fontello.eot'));
  src: url(asset_path('fontello.eot#iefix')) format('embedded-opentype'),
       url(asset_path('fontello.woff')) format('woff'),
       url(asset_path('fontello.ttf')) format('truetype'),
       url(asset_path('fontello.svg#fontello')) format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  // width: 1em;
  width: 0.9em;
  // margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  // margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-menu:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-flickr:before { content: '\e806'; } /* '' */
.icon-up-open-big:before { content: '\e807'; } /* '' */
.icon-down-open-big:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */

.icon-menu,
.icon-instagram,
.icon-basket,
.icon-facebook,
.icon-twitter,
.icon-home,
.icon-flickr,
.icon-up-open-big,
.icon-down-open-big,
.icon-user {
  font-size: 24px;
}
.icon-user,
.icon-basket {
  font-size: 22px;
}
.icon-menu {
  font-size: 26px;
}
