// flexslider path is fonts/font-file.woff
// rails asset pipeline wants it to be just font-file.woff

@font-face {
  font-family: 'flexslider-icon';
  src: url(asset_path('flexslider-icon.eot'));
  src: url(asset_path('flexslider-icon.eot?#iefix')) format('embedded-opentype'), url(asset_path('flexslider-icon.woff')) format('woff'), url(asset_path('flexslider-icon.ttf')) format('truetype'), url(asset_path('flexslider-icon.svg#flexslider-icon')) format('svg');
  font-weight: normal;
  font-style: normal;
}


// Move navigation arrows up
.flex-direction-nav a {
  top: 40px;

  &:hover,
  &:focus {
    color: lighten(rgba(0, 0, 0, 0.8), 10%);
  }
  // arrow is not aligned properly in container
  &:before {
    line-height: 40px;
  }
}
