body {
  background-color: $background_offwhite;
  border-top: 4px solid $hotpink;
}
.col-sidebar {
  padding-top: 20px;
  padding-left: 20px;
}
.col-main {
  padding-top: 0;
}
@media only screen and (min-width: 768px) {
  .col-main {
    margin-top: -20px;
  }
}
.col-session {
  padding-bottom: 30px;
}


.l-row {
  margin-bottom: 20px;
}

.img-fox {
  opacity: .8;
  width: 45px;
}



.row-header--logo-wrap {
  margin-bottom: 2px;
}
.row-header--logo {
  width: 280px;
}
.row-header--description {
  max-width: 720px;
  margin: 0 auto;
  line-height: 1.4;
  font-size: 15px;
}
@media only screen and (min-width: 768px) {
  .row-header--logo {
    width: 300px;
  }
  .row-header--description {
    font-size: 19px;
  }
}

//@media only screen and (min-width: 768px) {
//  .link-checkout {
//    position: absolute;
//    right: 10px;
//    top: 10px;
//    color: #888 !important;
//    display: none;
//  }
//}

@media screen and (max-width: 767px) {
  .hide-on-mobiles {
    display: none;
  }
}
