.l-container-nav-bar-wrap {
  background-color: rgb(245, 244, 244);
  border-bottom: 1px solid #dadada;
}
.l-container-nav-bar {
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
}

.NavBar-home-link {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -22px;
  top: 8px;
}
.NavBar-sandwich,
.NavBar-cart {
  cursor: pointer;
  display: block;

  &:hover,
  &.active,
  &.cart-happy--true {
    color: $hotpink;
  }
}
.NavBar-sandwich {
  float: left;
}
.NavBar-cart,
.NavBar-user,
.NavBar-sign-in,
.NavBar-sign-out {
  float: right;
  margin-left: 10px;
}
.NavBar-sign-in-out {
  color: lighten($text_lightgray, 20%);
  font-size: 12px;
}
.NavBar-sign-in-out:hover {
  color: $hotpink;
}
.NavBar-user,
.NavBar-cart {
  color: #666;
}

.NavBar-cart {
  position: relative;
}
.NavBar-cart-count {
  background-color: $hotpink;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  border-radius: 2px;
  display: inline-block;
  padding: 1px 4px;
  line-height: 1;
  font-style: normal;
  font-family: verdana, arial, sans-serif;
  font-weight: bold;
  font-size: 8px;
  top: -2px;
  right: -4px;
}

.menu--row-nav {
  padding: 30px 0 0;
}


@media only screen and (min-width: 768px) {
  .NavBar-sign-in-out {
    font-size: 13px;
  }
  .nav-list--global {
    &.l-row {
      margin-bottom: 0;
    }
    .nav-list--item {
      flex: 0 0 20%;
      margin-bottom: 20px;
    }
  }
}

