.row-footer {
  position: relative;
}
.footer-fox {
  position: absolute;
  right: .5em;
  top: 0;
}

@media only screen and (max-width: 767px) {
  .l-container--footer-wrap {
    background-color: $background_gray;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #dcdcdc
  }
}
