.card {
  display: none;

  &.active {
    display: block;
  }
}
.tab {
  cursor: pointer;
  display: inline-block;
  padding: 4px 6px;
  margin: 5px;
}
.tab--demph {
  color: #999;
}
.tab.active {
  background-color: #ffa;
  color: #444;
}
