@import 'vars-solstice';

.CamperProfile {
  color: $solstice-white;
  font-size: 14px;
  padding: 30px;
  background-color: lighten($solstice-dark-brown, 10%);
  margin-top: 10px;
  border-radius: 2px;
}
.CamperProfile-heading {
  font-size: 16px;
}
.CamperProfile-ul {
}
.CamperProfile-li {
  font-size: 15px;
  margin-top: 20px;
  &:before {
    content: "";
  }
  &:first-child {
    margin-top: 10px;
  }
}
.CamperProfile-q,
.CamperProfile-a {
  display: block;
}
.CamperProfile-q {
  font-weight: bold;
}
.CamperProfile-a {
  margin: 5px 0 0;
  padding: 0;
}
.S-flexslider .flexslider {
  border: none;
  background-color: transparent;
}
