.btn-bike {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  background: transparent image-url('swift-bike.png') no-repeat;
  cursor: pointer;
  font-size: 14px;
  width: 150px;
  height: 81px;
  text-align: center;
  text-transform: uppercase;
  font-family: courier new, menlo, monaco;
  font-weight: bold;
}
a.btn-bike {
  line-height: 104px !important;
}
button.btn-bike {
  padding-top: 23px;
}

.btn {
  /* Structure */
  display: inline-block;
  *display: inline; /*IE 6/7*/
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: inherit;
  font-size: 13px;
  padding: 0.5em 1em;
//  border: 1px solid #999;  /*IE 6/7/8*/
//  border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
  border: none;
  background-color: #C34093;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
  font-weight: bold;
}
.btn--table {
  padding: 0.2em 0.8em;
  font-size: 90%;
}

a.btn,
a.btn:visited {
  color: #fff;
}
a.btn:hover {
  border: 0;
}
.btn-primary {
  background-color: #C34093;
  color: #fff;
}
.btn-secondary {
  background-color: #666;
  color: #fff;
}

/* Firefox: Get rid of the inner focus border */
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn[disabled] {
  color: rgba(255,255,255,0.8);
  cursor: not-allowed;
}
