#private_notice {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 6px;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 0 4px rgba(0,0,0,.3);
  border-top: 0;
  background-color: yellow;
}
