input.input--inline {
  display: inline-block;
  margin-bottom: 0;
}
.checkout-summary-item {
  margin-bottom: 20px;
}
.row--checkout-sidebar {
  margin-bottom: 10px;
}

.pickup-is-true {
  opacity: 0.4;
}
// .best-price-true {
//   text-decoration: underline;
// }

.btn--progress {
  position: relative;
}
.btn--progress__spin {
  position: absolute;
  left: 50%;
  margin-left: -8px;
  width: 16px;
}

//
// This element is position: fixed,
// therefore we need to set a width on it so
// it doesn't break out of it's container.
// It is only sticky when min-width: 768px,
// hence the media queries.
//
@media (min-width: 768px) {
  .sticky-order-column {
    max-width: 152px;
    padding-left: 20px;
  }
}
@media (min-width: 960px) {
  .sticky-order-column {
    max-width: 200px;
  }
}
