#notice {
  color: green;
}

// http://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
// this wasn't working, so instead user-scalable=no is set in meta viewport
//.is-iOS select {
//    font-size: 16px !important;
//}

.label-input-pair__hint {
  margin-top: -16px;
  line-height: 1.4;
  font-size: 12px;
  color: #777;
  max-width: 320px;
}

.input--stretch {
  width: 100%;
}
.textarea {
  height: 100px;
}

.label--required:after {
  content: " *";
}
