@import 'vars-solstice';

.TwitterDir-items {}
.TwitterDir-item {
  display: flex;
  font-family: $solstice-font-stack;
}
.TwitterDir-user-icon img {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 2px !important;
  background-color: #fff;
  border: 1px solid #ddd;
  transform: translateY(3px);
}
.TwitterDir-tweet-text {
  word-wrap: break-word;
  color: $solstice-white;
}
.TwitterDir-tweet-screenName {
  color: $solstice-white;
}
.TwitterDir-tweet-screenName-link,
.TwitterDir-tweet-screenName-link:visited,
.TwitterDir-tweet-screenName-link:hover {
  color: $solstice-orange;
}
