.store-section-heading {
  text-align: center;
  padding: 40px 20px;
}
.store-item {
  margin-bottom: 40px;
}
.store-item--image {
  width: 100%;
  border: 1px solid #fafafa;
  &:hover {
    border: 1px solid #eee;
  }
}
.store-item--heading {
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
}
.store-item--heading-link,
.store-item--heading-link:visited {
  color: #333;
}
