.shoppin-cart {
  padding: 10px;
  padding-top: 30px;
  height: 100%;
}
@media screen only and (min-width: 768px) {
  .shoppin-cart {
    background-color: #fff;
  }
}
.shoppin-cart__header {
  font-weight: bold;
  color: #333;
}
.shoppin-cart__quantity {
  width: 3.5em !important;
}
.shoppin-cart__cart-price-row {
  border-top: 1px solid lighten($border_gray, 10%);
  border-bottom: 1px solid lighten($border_gray, 10%);
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: -1px;
}
.shoppin-cart__fabric-charge-notice {
  margin-top: 30px;

  h6, li {
    color: #444;
  }
  h6 {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
.shoppin-cart__fabric-charge-notice__ul {
  margin-bottom: 0;
}
.shoppin-cart__toolbar {
  margin-top: 20px !important;
  text-align: right;
}
.demph {
  font-size: 90%;
  color: #777;
}
.shoppin-cart__part-list {
  margin-bottom: 0;
  li: last-child {
    margin-bottom: 0;
  }
}
