.swift-dialog {
  background-color: #FFFEFE;
  border-radius: 0;
  box-sizing: border-box;
  transform: translate(-50%, 0);
  position: fixed;
  top: 10%;
  left: 50%;
  width: 90%;
  z-index: 12;
  box-shadow: 0 0 20px #aaa;
  padding: 30px;
}

.swift-dialog__heading {
  margin: 0;
}
.swift-dialog__body {
  margin: 20px 0 0 0;
}
.swift-dialog__btns {
  margin: 30px 0 0 0;
}
.swift-dialog__btn {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .swift-dialog {
    width: auto;
  }
}

