@import 'vars-solstice';

.FlickrDir-img {
  display: inline-block;
  margin: 0 12px 12px 0;
  position: relative;
  line-height: 1;
  font-size: 0;

  img {
    padding: 2px;
    background-color: #fff;
    border: 1px solid #ddd;
    max-width: 100%;
    width: 90px;
    height: 90px;
  }
}
@media (min-width: 768px) {
  .FlickrDir-img {
    img {
      width: 90px;
      height: 90px;
    }
  }
}

.FlickrDir-name {
  opacity: 0;
  transition: opacity 0.11s ease-in;
}
.FlickrDir-img:hover {
  .FlickrDir-name {
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.95);
    color: $solstice-orange;
    font-weight: bold;
    line-height: 1.1;
    padding: 5px;
    font-size: 13px;
    box-sizing: border-box;
  }
}
