@import 'vars-solstice';

.InstaDir-items {
  display: flex;
  flex-wrap: wrap;
}
.InstaDir-item {
  margin: 0 20px 20px 0;
  font-family: $solstice-font-stack;
}
.InstaDir-img img {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  max-width: 100%;
  height: auto;

}
.InstaDir-username,
.InstaDir-username:hover,
.InstaDir-username:visited {
  display: block;
  color: $solstice-orange;
}
.InstaDir-text {
  word-wrap: break-word;
  max-height: 58px;
  overflow-y: auto;
}
