body {
  font-family: helvetica, arial, sans-serif;
  font-size: 80%;
}
ul {
  margin-left: 0;
  padding-left: 16px;
}
li {
  line-height: 1.4;
}
.l-container-menu-wrap,
.l-container--logo,
.l-container--footer-wrap {
  display: none;
}
p,div,h1,h2,h3,h4,h5 {
  margin: 0 0 6pt;
}

.pr--bold {
  font-weight: bold;
}
.pr--block {
  display: block;
}
.pr--inline {
  display: inline;
}
.pr--none {
  display: none;
}
.pr--float {
  float: left;
  width: 48%;
}
.pr--clear {
  clear: left;
}
