$solstice-orange: #d2711f;
$solstice-red: #e9301b;
$solstice-dark-brown: #332920;
$solstice-muted-green: #68715e;
$solstice-white: #eef0d3;
$solstice-font-stack: 'Noto Sans', Calibri, Candara, Arial, sans-serif;
