<h1>Categories</h1>
<p>
  <%= link_to raw('&larr; Hub'), hub_path, class: "btn" %>
  <%= link_to 'New Category', new_category_path, class: "btn" %>
</p>

<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @categories.each do |category| %>
  <tr>
    <td><%= category.title %></td>
    <td>
      <%= link_to raw("UP"), move_category_path(category, dir: "up"), class: "btn btn--table" %>
      <%= link_to raw("DOWN"), move_category_path(category, dir: "down"), class: "btn btn--table" %>
      <%= link_to 'Edit', edit_category_path(category), class: "btn btn--table" %>
      <%= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete, class: "btn btn--table" %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
