<p>
  Complete this form once for each box associated with this sale.
</p>
<form action="create_shipment" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <input type="hidden" value="<%= @sale.id %>" name="sale[id]">
  <input type="hidden" value="Shipped" name="sale[status]">

  <div class="eight columns">
    <h3>To</h3>

    <% if @sale.shipping_contact.present? %>
        <label class="label">Contact</label>
        <input type="text" value="<%= @sale.shipping_contact %>" name="shipment[contact]">
        <p class="hint">
            This sale is being shipped to the shipping contact rather than the
            purchaser. Might be a gift...
        </p>
    <% else %>
        <label class="label">Contact</label>
        <input type="text" value="<%= @sale.contact %>" name="shipment[contact]">
    <% end %>

    <label class="label">Company (optional)</label>
    <input type="text" value="<%= @sale.company %>" name="shipment[company]">
    <label class="label">Line 1</label>
    <input type="text" value="<%= @sale.line1 %>" name="shipment[line1]">
    <label class="label">Line 2</label>
    <input type="text" value="" name="shipment[line2]">
    <label class="label">Line 3</label>
    <input type="text" value="" name="shipment[line3]">
    <label class="label">City</label>
    <input type="text" value="<%= @sale.city %>" name="shipment[city]">
    <label class="label">State/Province</label>
    <input type="text" value="<%= @sale.state %>" name="shipment[state]">
    <label class="label">Zip Code</label>
    <input type="text" value="<%= @sale.zip_code %>" name="shipment[zip_code]">
    <label class="label">Country</label>
    <input type="text" value="<%= @sale.country %>" name="shipment[country]">
    <label class="label">Phone No</label>
    <input type="text" value="<%= @sale.phone_no %>" name="shipment[phone_no]">
  </div>

  <div class="eight columns">
    <h3>Carrier and Service Level</h3>
    <label class="label">Carrier</label>
    <input type="text" value="<%= @sale.shipping_provider.downcase %>" name="shipment[shipping_provider]">
    <p class="hint">
      Options are "ups" or "usps".
    </p>
    <label class="label">Service Level</label>
    <input type="text" value="<%= @sale.shipping_service %>" name="shipment[shipping_service]">
    <p class="hint">
      View available <a href="https://www.postmaster.io/docs/api#services">service levels</a>.
      The service level the customer selected is pre-populated.
    </p>

    <h3>Packaging</h3>
    <p>
      Input the weight, and then choose if you want to ship this order in a box or an envelope.
    </p>
    <label class="label">Weight (in lbs)</label>
    <input
      id="inputWeight"
      class="input--dim"
      type="number"
      step="0.01"
      min="0"
      name="shipment[weight]">
    <p class="hint">Ex: 3.24, 3.2 or 3 (can include tenths or hundredths of a pound)</p>
    <h4>
      Ship in a box
    </h4>
    <p>
      Choose a box from the drop down or input the W&#215;H&#215;L manually.
    </p>
    <select id="selectBox">
      <option></option>
      <% @boxes.each do |box| %>
        <option value="<%= box[:width].to_i %>:<%= box[:height].to_i %>:<%= box[:length].to_i %>">
          <%= box[:width].to_i %> &#215; <%= box[:height].to_i %> &#215; <%= box[:length].to_i %> (<%= box[:name] %>)
        </option>
      <% end %>
    </select>
    <input
      id="inputWidth"
      placeholder="W"
      class="input--dim"
      type="number"
      min="0"
      name="shipment[width]"> &#215;
    <input
      id="inputHeight"
      placeholder="H"
      class="input--dim"
      type="number"
      min="0"
      name="shipment[height]"> &#215;
    <input
      id="inputLength"
      placeholder="L"
      class="input--dim"
      type="number"
      min="0"
      name="shipment[length]">
    <p class="hint">Ex: 3 or 6 (round up to the nearest integer)</p>

    <h4>
      Ship in a "<a href="https://www.postmaster.io/docs/api#packages">LETTER</a>"
    </h4>
    <select id="selectPackage" name="shipment[envelope]">
      <option></option>
      <!-- <option value="TUBE">TUBE</option> -->
      <option value="LETTER">LETTER</option>
      <!-- <option value="PAK">PAK</option> -->
    </select>
    <p class="hint">
      Note: USPS supports "LETTER" for 3DAY or faster. Everything else should be considered "Ship in box". View postmaster <a href="https://www.postmaster.io/docs/api#packages">packaging reference</a>.
    </p>

    <% if @sale.country != "US" %>
      <h3>
        Customs
      </h3>
      <p>
        See <a target="_new" href="https://www.postmaster.io/docs/api#international">Postmaster docs</a>.
      </p>
      <label class="label">
        Type *
      </label>
      <select name="shipment[customs][type]">
        <option>Commercial Sample</option>
        <option>Gift</option>
        <option>Document</option>
        <option>Returned Goods</option>
        <option selected>Other</option>
      </select>
      <p class="hint">
        The type of shipment this is.
      </p>

      <label class="label">
        Comments
      </label>
      <input type="text" name="shipment[customs][comments]">
      <p class="hint">
        Any comments that should be displayed on the commercial invoice.
      </p>

      <label class="label">
        Invoice Number
      </label>
      <input type="text" value="<%= @sale.guid %>" name="shipment[customs][invoice_number]">
      <p class="hint">
        An invoice # to associate with this shipment. Automatically populated with the sale guid.
      </p>

      <h4>
        Contents
      </h4>
      <p>
        A list of the items within each package. Items marked with an asterik are required.
      </p>
      <div id="customsItems">
        <fieldset class="customsItem">
          <legend>Item 1</legend>
          <label class="label">Description *</label>
          <input type="text" name="shipment[contents][][description]">
          <label class="label">Country of origin *</label>
          <input type="text" name="shipment[contents][][country_of_origin]" value="US">
          <label class="label">Quantity *</label>
          <input type="number" name="shipment[contents][][quantity]" value="1">
          <label class="label">Value *</label>
          <input type="text" name="shipment[contents][][value]">
          <p class="hint">
            The cost of the item in USD (required).
            <br> - Note: the sum of the item values must be less than the declared package value.
            <br> - Note: The total value of the item is equal to this value multiplied by the quantity.
          </p>
          <label class="number">Weight *</label>
          <input type="text" name="shipment[contents][][weight]">
          <label class="label">Weight Units</label>
          <input type="text" name="shipment[contents][][weight_units]" value="LB">
          <label class="label">Harmonized system tariff number</label>
          <input type="text" name="shipment[contents][][hs_tariff_number]">
        </fieldset>
      </div>
      <button class="btn" id="addCustomsItemBtn">
        Add another item to this package
      </button>
    <% end %>
  </div>
  <br class="clear">
  <div class="eight columns">
    &nbsp;
  </div>
  <div class="eight columns" style="margin-top: 60px; margin-bottom: 60px">
    <input id="btnSubmit" type="submit" value="Ship it" class="btn">
  </div>
  <br class="clear">
</form>

<%= content_for :js do %>
  <script>
    function isFloat(n) {
        n = parseFloat(n);
        return n === +n && n !== (n|0);
    }
    function isInteger(n) {
        n = parseFloat(n);
        return n === +n && n === (n|0);
    }
    function pF(val) {
      return parseFloat(val);
    }
    function isValidWeight(val) {
      var decimels = '';
      if (val.indexOf('.') !== -1) {
        decimels = val.split('.')[1];
      }
      return val && (isFloat(val) || isInteger(val)) && pF(val) > 0 && decimels.length < 3;
    }
    function isValidDimension(val) {
      return val && isInteger(val) && pF(val) > 0;
    }
    function $$(selector) {
      return document.querySelector(selector);
    }

    var btnSubmit         = $$('#btnSubmit'),
        selectBox         = $$('#selectBox'),
        selectPackage     = $$('#selectPackage'),
        inputWeight       = $$('#inputWeight'),
        inputWidth        = $$('#inputWidth'),
        inputHeight       = $$('#inputHeight'),
        inputLength       = $$('#inputLength'),
        customsItem       = $$('.customsItem'),
        customsItems      = $$('#customsItems'),
        addCustomsItemBtn = $$('#addCustomsItemBtn'),
        customsItemTemplate,
        customsItemCount = 1;

    function clearDims() {
      inputWidth.value = inputHeight.value = inputLength.value = ''
    }
    function getSelectVal(select) {
      return select.options[select.selectedIndex].value
    }
    function errInput(input) {
      input.style.border = '1px solid red'
    }
    function cleanInput(input) {
      input.removeAttribute('style')
    }
    function setBoxVals() {
      var vals = selectBox.value.split(':')
      if (vals[0] && vals[1] && vals[2]) {
        inputWidth.value  = vals[0]
        inputHeight.value = vals[1]
        inputLength.value = vals[2]
      } else {
        clearDims()
      }
    }

    selectBox.onchange = setBoxVals
    setBoxVals()

    selectPackage.onchange = function() {
      clearDims()
    }

    inputWeight.onkeyup = function() {
      console.log(this.value);
      if (isValidWeight(this.value)) {
        cleanInput(this)
      } else {
        errInput(this)
      }
    }

    inputWidth.onkeyup = inputHeight.onkeyup = inputLength.onkeyup = function() {
      if (isValidDimension(this.value)) {
        cleanInput(this)
      } else {
        errInput(this)
      }
    }

    if (customsItem) {
      // Templating for customs contents
      //
      // Clone the "template":
      customsItemTemplate = customsItem.cloneNode(true);

      addCustomsItemBtn.onclick = function(e) {
        // Don't submit the form
        e.preventDefault()

        customsItemCount++

        var appended = customsItems.appendChild(customsItemTemplate.cloneNode(true))
        appended.querySelector('legend').innerHTML = "Item " + customsItemCount;
      };
    }

    btnSubmit.onclick = function(e) {
      if (isValidWeight(inputWeight.value)) {
        cleanInput(inputWeight)
      } else {
        alert('A weight is required. The value should be a number with up to two decimel places, e.g. 2.05.')
        errInput(inputWeight)
        e.preventDefault()
      }

      // If they are not shipping with LETTER, validate WxHxL
      if (!getSelectVal(selectPackage)) {
        if (isValidDimension(inputWidth.value) && isValidDimension(inputHeight.value) && isValidDimension(inputLength.value)) {
          cleanInput(inputWidth)
          cleanInput(inputHeight)
          cleanInput(inputLength)
        } else {
          alert('You must input width, height and length if this is not a LETTER. The values must be integers.')
          errInput(inputWidth)
          errInput(inputHeight)
          errInput(inputLength)

          e.preventDefault()
        }
      }
    }
  </script>
<% end %>
