<h1>Edit <%= @product.title if @product.title.present? %></h1>

<%= form_for @product do |f| %>
  <div class="tabs">
    <div class="tab">
      Product
    </div>
    <div class="tab">
      Sizes
    </div>
    <div class="tab">
      Parts
    </div>
    <div class="tab">
      Testimonials
    </div>
    <div class="tab-divider"></div>
    <% if @product.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
            <ul>
                <% @product.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="card">
      <div class="field">
          <%= f.label :kind, "Type" %>
          <%= f.select :kind, Product::KINDS, :selected => @product.kind %>
      </div>
      <div class="field">
          <%= f.label :category_id, "Navigation Category" %>
          <%= f.select :category_id, Category.all.collect {|c| [ c.title, c.id ] }, { :include_blank => true, :selected => @product.category_id } %>
          <p class="hint">
              Leave blank if this is an Accessory or Stock product.
          </p>
      </div>
      <div class="field">
          <%= f.label :status %>
          <%= f.select :status, Product::STATUSES, :selected => @product.status %>
          <p class="hint">
              The page will 404 if you set it as private. For now that means you can't preview it.
          </p>
      </div>
      <div class="field">
          <%= f.label :inventory_count %>
          <%= f.text_field :inventory_count, type: 'number' %>
          <p class="hint">
              If you are changing the inventory count from 0, make sure you also
              set the status to "Public".
          </p>
      </div>
      <h3>
          Marketing
      </h3>
      <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title %>
      </div>
      <div class="field">
          <%= f.label :short_title %>
          <%= f.text_field :short_title %>
          <p class="hint">
              The short title will be used in space-constrained spaces (navigation lists, etc.).
          </p>
      </div>
      <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description %>
          <%= render 'shared/markdown_hint' %>
      </div>
      <div class="field">
          <%= f.label :short_description %>
          <%= f.text_area :short_description %>
          <p class="hint">
              Used for the homepage hero.
          </p>
      </div>
      <div class="field">
          <%= f.label :specs %>
          <%= f.text_area :specs %>
          <%= render 'shared/markdown_hint' %>
      </div>
      <h3>
          Pricing
      </h3>
      <div class="field">
          <%= f.label :price %>
          <%= f.text_field :price %>
          <p class="hint">
              ex: 299.01
          </p>
      </div>
      <div class="field">
          <%= f.label :humane_price %>
          <%= f.text_field :humane_price %>
          <p class="hint">
              ex: "$299 for a pair"
          </p>
      </div>
      <div class="field">
          <%= f.label :wholesale_price %>
          <%= f.text_field :wholesale_price %>
          <p class="hint">
              ex: 249.00
          </p>
      </div>
      <div class="field">
          <%= f.label :wholesale_humane_price %>
          <%= f.text_field :wholesale_humane_price %>
          <p class="hint">
              ex: "$249 for a pair"
          </p>
      </div>
      <h3>
          Placement
      </h3>
      <div class="field row">
          <label for="product_featured_on_homepage">
              <%= f.check_box :featured_on_homepage %>
              Feature on homepage?
          </label>
      </div>
      <h3>
          Photos
      </h3>
      <div id="js-flickr">
        <div class="field">
            <%= f.label :flickr_set %>
            <%= f.text_field :flickr_set, :'v-model' => "flickrSet" %>
            <p class="hint">
                The flickr set id. Used for the homepage hero.
                <a target="_new" v-show="flickrSet" href="//flickr.com/photos/<%= APP_CONFIG[:flickr_user_id] %>/sets/{{ flickrSet }}">
                  View set photos</a>.
            </p>
        </div>
        <div class="field">
            <%= f.label :flickr_tag %>
            <%= f.text_field :flickr_tag, :'v-model' => "flickrTag" %>
            <p class="hint">
                Enter a flickr tag to display a photo gallery. Leave blank for none.
                <a target="_new" v-show="flickrTag" href="//flickr.com/photos/<%= APP_CONFIG[:flickr_user_id] %>/tags/{{ flickrTag }}">
                  View tag photos</a>.
            </p>
        </div>
        <div class="field">
            <%= f.label :flickr_photo %>
            <%= f.text_field :flickr_photo, :'v-model' => "flickrPhoto" %>
            <p class="hint">
                The flickr photo id [<a href="http://d.pr/Q7xE" target="_new">?</a>] is used for the featured photo on the Ready Made page.
                <a target="_new" v-show="flickrPhoto" href="//flickr.com/photos/<%= APP_CONFIG[:flickr_user_id] %>/{{ flickrPhoto }}">
                  View photo</a>.
            </p>
        </div>
      </div>
      <h3>
          Shipping
      </h3>
      <div class="field">
          <%= f.label :package_type, "Type" %>
          <%= f.select :package_type, Product::PACKAGE_TYPE, :selected => @product.package_type %>
          <p class="hint" style="display:none">
              <!-- WELL, we only currently support CUSTOM -->
              Products that go in boxes should use "CUSTOM". Items that fit in envelopes should use "LETTER". Items that fit in padded envelopes should use "PAK".
          </p>
      </div>
      <div class="field">
          <%= f.label :domestic_flat_rate_shipping_charge %>
          <%= f.text_field :domestic_flat_rate_shipping_charge, class: 'input--dim', type: 'number', min: '0' %>
          <p class="hint">
              <em>Enter flat rate charge in cents</em>. Leave empty for no flat rate.
          </p>
      </div>
      <div class="field">
          <%= f.label :international_flat_rate_shipping_charge %>
          <%= f.text_field :international_flat_rate_shipping_charge, class: 'input--dim', type: 'number', min: '0' %>
          <p class="hint">
              <em>Enter flat rate charge in cents</em>. Leave empty for no flat rate.
          </p>
      </div>
      <div class="field">
          <label>W × H × L</label>
          <%= f.text_field :width, class: 'input--dim', type: 'number', min: '0', placeholder: 'W' %> &#215;
          <%= f.text_field :height, class: 'input--dim', type: 'number', min: '0', placeholder: 'H' %> &#215;
          <%= f.text_field :length, class: 'input--dim', type: 'number', min: '0', placeholder: 'L' %>
          <p class="hint">
              Measure in inches. Round up to the nearest integer and include space for packaging/padding.
          </p>
      </div>
      <div class="field">
          <%= f.label :weight %>
          <%= f.text_field :weight, class: 'input--dim' %>
          <p class="hint">
              Measure in pounds. Ex: 1.25.
          </p>
      </div>
      <h3>
          Ordering
      </h3>
      <div class="field">
          <%= f.label "Custom order question" %>
          <%= f.text_field :question %>
          <p class="hint">
              One additional question you can ask a customer during the order process.
          </p>
      </div>
      <div class="field">
          <%= f.label "Custom order answer" %>
          <%= f.text_field :answer %>
          <p class="hint">
              If the question has a set amount of choices, enter them as a comma-separated list, ex: <code>dogs, chimps, beavers</code>. Otherwise, leave the field blank if the answer is freeform.
          </p>
      </div>
      <div class="field row">
          <label for="product_not_for_sale">
              <%= f.check_box :not_for_sale %>
              Turn the order form off?
          </label>
      </div>
      <div class="field">
          <%= f.label :not_for_sale_message %>
          <%= f.text_area :not_for_sale_message %>
      </div>
      <h3>
          Related Products
      </h3>
      <p>
        Click the "&rArr;" to view the product page if you're not sure
        which product is which.
      </p>
      <div class="field">
        <div class="container">
          <div class="eight columns">
            <h4>
              Public Products
            </h4>
            <% @public_products.each do |product| %>
                <label>
                <input
                  type="checkbox"
                  name="product[related_products][]"
                  value="<%= product.id %>"
                  <%= @product.related_products.present? && JSON.parse(@product.related_products).include?(product.id.to_s) ? "checked" : "" %>>
                  <%= product.title %>
                  <a
                    href="/products/<%= product.id %>"
                    target="_new"
                    title="Link to product page">
                    &rArr;
                  </a>
                </label>
            <% end %>
          </div>
          <div class="eight columns">
            <h4>
              Private Products
            </h4>
            <p>
              You can check private products, but they won't actually display
              on the related products list on the product page.
            </p>
            <% @private_products.each do |product| %>
              <label>
              <input
                type="checkbox"
                name="product[related_products][]"
                value="<%= product.id %>"
                <%= @product.related_products.present? && @product.related_products.include?(product.id.to_s) ? "checked" : "" %>>
                <%= product.title %>
                <a
                  href="/products/<%= product.id %>"
                  target="_new"
                  title="Link to product page">
                  &rArr;
                </a>
              </label>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <h3>
          Sizes
      </h3>
      <%= f.fields_for :sizes do |size_fields| %>
          <%= render :partial => 'size_fields', :locals => { :f => size_fields } %>
      <% end %>
      <div class="field add">
          <label>
              <%= link_to_add_association 'add size', f, :sizes %>
          </label>
      </div>
    </div>
    <div class="card">
      <h3>
          Parts
      </h3>
      <%= f.fields_for :parts do |part_fields| %>
          <%= render :partial => 'part_fields', :locals => { :f => part_fields } %>
      <% end %>
      <div class="field add">
          <label>
              <%= link_to_add_association 'add part', f, :parts %>
          </label>
      </div>
    </div>
    <div class="card">
      <h3>
          Testimonials
      </h3>
      <%= f.fields_for :testimonials do |testimonial_fields| %>
          <%= render :partial => 'testimonial_fields', :locals => { :f => testimonial_fields } %>
      <% end %>
      <div class="field add">
          <label>
            <%= link_to_add_association 'add testimonial', f, :testimonials %>
          </label>
      </div>
    </div>
  </div>
  <div class="actions">
      <%= f.submit nil, class: "btn" %>
  </div>
<% end %>

<%= content_for :js do %>
    <script>
        $(document).ready(function() {
            $('.tabs').tabs();

            $(document.body).on('click', '.color_label', function(e) {
              e.preventDefault();

              $(this)
                .closest('.color_fields')
                .find('.color_boxes')
                .slideToggle();
            });
        });

        new Vue({ el: '#js-flickr' });
    </script>
<% end %>
