<div ng-show="product.parts">
    <h4 class="order-section-heading">
        Customize your parts
    </h4>
    <div class="l-row row--order row--fabric-notice swift-dialog" ng-show="product.mostExpensiveFabric && !product.userAcknowledgedFabricChargeNotice">
        <h5 class="swift-dialog__heading">
            Including &ldquo;{{ product.mostExpensiveFabric.selectedColor.title }}&rdquo; adds a
            charge of ${{ product.mostExpensiveFabric.selectedColor.price }} to this bag.
        </h5>
        <div class="swift-dialog__body">
            <ul class="row--fabric-notice__ul nice-list">
                <li>You will be charged for your most expensive fabric choice.</li>
                <li>The charge is applied once per bag.</li>
                <li>Use it as many times as you&rsquo;d like!</li>
            </ul>
        </div>
        <div class="swift-dialog__btns">
            <div class="btn btn-primary swift-dialog__btn" ng-click="onUserAcknowledgedFabricChargeNotice()">Okay!</div>
        </div>
    </div>
    <div class="l-row row--order row--parts">
        <div ng-repeat="part in product.parts">
            <div class="label-input-pair">
                <label class="label {{ part.inputIsInvalid }}">
                    <input
                        ng-show="part.price"
                        ng-model="part.activated"
                        ng-click="onPartCheckboxClicked()"
                        type="checkbox"
                        class="input input-checkbox">
                    {{ part.title }}
                    <span ng-show="part.price">
                        {{ part.price | currency }}
                    </span>
                </label>
                <%= render 'order_form_color_picker' %>
            </div>
        </div>
    </div>
</div>
