<div ng-show="product.question">
    <h4 class="order-section-heading">
        Your Details
    </h4>
    <div class="l-row row--order row--question">
        <label for="product-answer" class="label">
            {{ product.question }}
        </label>
        <input
            ng-hide="product.originalAnswer"
            ng-model="product.selectedAnswer"
            type="text"
            class="input">
        <select
            ng-show="product.originalAnswer"
            ng-model="product.selectedAnswer"
            ng-options="answer for answer in product.answer"
            class="input"
            required>
        </select>
    </div>
</div>
