<h3>
    <%= title %>
</h3>
<div class="responsive-table-container">
<table class="table">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Title</th>
    <th>Count</th>
    <th>Price</th>
    <th>Humane Price</th>
    <th>WS Price</th>
    <th>WS Humane Price</th>
    <th>Shipping</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% products.each do |product| %>
  <tr>
    <td><%= image_tag "#{product.kind.gsub(' ', '')}.png" %></td>
    <td><%= image_tag "#{product.status}.png" %></td>
    <td>
      <% if product.featured_on_homepage? %>
        <%= image_tag "house.png", title: "This product is featured on the homepage", style: "cursor: help" %>
      <% end %>
    </td>
    <td>
        <%= link_to image_tag("edit.png"), edit_product_path(product) %>
    </td>
    <td>
      <%= link_to product.title, product %>
    </td>
    <td>
      <% if product.inventory_count.present? %>
        <% if product.inventory_count == 0  %>
          <span class="u-inventory--zero">
        <% elsif product.inventory_count < 6 %>
          <span class="u-inventory--low">
        <% else %>
          <span>
        <% end %>
          <%= product.inventory_count %>
        </span>
      <% end %>
    </td>
    <td><%= product.price %></td>
    <td><%= product.humane_price %></td>
    <td>
        <% if product.wholesale_price.present? %>
            <%= product.wholesale_price %>
        <% else %>
            <span style="color:red; font-size: 120%;">
              ✗
            </span>
        <% end %>
    </td>
    <td>
        <% if product.wholesale_humane_price.present? %>
            <%= product.wholesale_humane_price %>
        <% else %>
            <span style="color:red; font-size: 120%;">✗</span>
        <% end %>
    </td>
    <td>
        <% if product.weight.present? && product.width.present? && product.height.present? && product.length.present? %>
            <%= product.width %>&#215;<%= product.height %>&#215;<%= product.length %><br>
            <%= product.weight %>lbs
        <% else %>
            <span style="color:red; font-size: 120%;">✗</span>
        <% end %>
    </td>
    <td>
        <%= link_to image_tag("destroy.png"), product, :confirm => 'Are you sure you want to delete this product?', :method => :delete %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
</div>
