<div class="indent group nested-fields">
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
    <p class="hint">
        ex: 15.00
    </p>
  </div>
  <div class="field">
    <%= f.label :wholesale_price %>
    <%= f.text_field :wholesale_price %>
    <p class="hint">
        ex: 12.00
    </p>
  </div>
  <div class="field">
    <%= f.label :inventory_count %>
    <%= f.text_field :inventory_count, type: "number" %>
  </div>
  <div class="field destroy">
    <label>
      <%= link_to_remove_association "remove size", f %>
    </label>
  </div>
</div>
