<h1>
    Products
</h1>
<p>
  <%= link_to raw('&larr; Hub'), hub_path, class: "btn" %>
  <%= link_to 'Create New Product', new_product_path, class: "btn" %>
</p>
<div class="tabs">
  <div class="tab">
    Products
  </div>
  <% if @private_products.present? %>
    <div class="tab tab--demph">
      Private Products
    </div>
  <% end %>
  <div class="tab">
    Stock
  </div>
  <% if @private_stock.present? %>
    <div class="tab tab--demph">
      Private Stock
    </div>
  <% end %>
  <div class="tab">
    Accessories
  </div>
  <% if @private_accessories.present? %>
    <div class="tab tab--demph">
      Private Accessories
    </div>
  <% end %>
  <div class="tab">
    Gift Certificates
  </div>
  <% if @private_gift_certificates.present? %>
    <div class="tab tab--demph">
      Private Gift Certificates
    </div>
  <% end %>
  <div class="tab">
    Events
  </div>
  <% if @private_events.present? %>
    <div class="tab tab--demph">
      Private Events
    </div>
  <% end %>
  <div class="tab-divider"></div>
  <div class="card">
    <% cache @public_products do %>
      <%= render 'products_table', products: @public_products, title: 'Public Products' %>
    <% end %>
  </div>
  <% if @private_products.present? %>
    <div class="card">
      <% cache @private_products do %>
        <%= render 'products_table', products: @private_products, title: 'Private Products' %>
      <% end %>
    </div>
  <% end %>
  <div class="card">
    <% cache @public_stock do %>
      <%= render 'products_table', products: @public_stock, title: 'Public Stock' %>
    <% end %>
  </div>
  <% if @private_stock.present? %>
    <div class="card">
      <% cache @private_stock do %>
        <%= render 'products_table', products: @private_stock, title: 'Private Stock' %>
      <% end %>
    </div>
  <% end %>
  <div class="card">
    <% cache @public_accessories do %>
      <%= render 'products_table', products: @public_accessories, title: 'Public Accessories' %>
    <% end %>
  </div>
  <% if @private_accessories.present? %>
    <div class="card">
      <% cache @private_accessories do %>
        <%= render 'products_table', products: @private_accessories, title: 'Private Accessories' %>
      <% end %>
    </div>
  <% end %>
  <div class="card">
    <% cache @public_gift_certificates do %>
      <%= render 'products_table', products: @public_gift_certificates, title: 'Public Gift Certs' %>
    <% end %>
  </div>
  <% if @private_gift_certificates.present? %>
    <div class="card">
      <% cache @private_gift_certificates do %>
        <%= render 'products_table', products: @private_gift_certificates, title: 'Private Gift Certs' %>
      <% end %>
    </div>
  <% end %>
  <div class="card">
    <% cache @public_events do %>
      <%= render 'products_table', products: @public_events, title: 'Public Events' %>
    <% end %>
  </div>
  <% if @private_events.present? %>
    <div class="card">
      <% cache @private_events do %>
        <%= render 'products_table', products: @private_events, title: 'Private Events' %>
      <% end %>
    </div>
  <% end %>
</div>
<%= content_for :js do %>
<script>
  $(document).ready(function(){
    $('.tabs').tabs();
  });
</script>
<% end %>
