<div ng-controller="OrderCtrl" ng-cloak class="row l-row">
    <div class="col-xs-12 col-sm-8 col-main">
      <% if @product.sizes.present? %>
          <h2 class="product-title">
              <%= @product.title %>
          </h2>
      <% else %>
          <h2 class="product-title">
              <%= @product.title %> (<%= @product.humane_price_for(current_user) %>)
          </h2>
      <% end %>
      <%# if the shop is closed, don't show the order form. %>
      <% if Company.first.close_shop? %>
          <h3>
              <span class="woah"><%= Company.first.close_shop_message %></span>
          </h3>
      <%# if the product is not for sale, don't show the order form. %>
      <% elsif @product.is_not_for_sale? %>
          <h3>
              <span class="woah">
                <%= @product.not_for_sale_message %>
              </span>
          </h3>
      <%# else, show the order form. %>
      <% else %>
          <%= render "order_form" %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4 col-sidebar">
      <%= render 'shared/slideshow' %>
      <% if @product.is_product? %>
          <h3>
              Delivery Time
          </h3>
          <div class="handmade_label">handmade</div>
          <% cache ["product_order_delivery_time", Company.first] do %>
              <p>
                  <%= Company.first.delivery_time %>
              </p>
          <% end %>
      <% end %>
      <%= render "inventory_count", product: @product %>
      <h3>
          Specifications
      </h3>
      <p>
          <%= raw md @product.specs %>
      </p>
    </div>
    <div id="buffer" style="display: none;"></div>
</div>
