<% unless @product.public? %>
  <p id="private_notice">
    private!
  </p>
<% end %>
<div class="row l-row">
  <div class="col-xs-12 col-sm-8 col-main">
    <h2>
      <%= @product.title %>
    </h2>
    <%= render "shared/slideshow" %>
    <%= raw md @product.description %>
    <h3>
      Specifications
    </h3>
    <p>
      <%= raw md @product.specs %>
    </p>
  </div>
  <div class="col-xs-12 col-sm-4 col-sidebar">
    <p>
      <% if @product.is_product? %>
        <%= link_to "Design your bags", order_product_path(@product), id: "js-goto-order", class: "btn-bike" %>
      <% elsif @product.is_event? %>
        <%= link_to "Sign Up", order_product_path(@product), id: "js-goto-order", class: "btn-bike" %>
      <% else %>
        <%= link_to "Buy it", order_product_path(@product), id: "js-goto-order", class: "btn-bike" %>
      <% end %>
    </p>
    <p>
      <%= @product.humane_price_for(current_user) %>
    </p>
    <%= render "inventory_count", product: @product %>
    <% if @related_products.present? %>
      <h3>
        Related Products
      </h3>
      <div class="related-products">
        <% @related_products.each do |product| %>
          <a href="/products/<%= product.id %>" class="related-products__product">
            <img src='<%= Product.get_photo_by_id(product.flickr_photo, "Square") %>' class="related-products__img">
            <span class="related-products__title">
              <%= product.title %>
            </span>
          </a>
        <% end %>
      </div>
    <% end %>
    <%= render 'testimonials' %>
  </div>
</div>
