<%# Pickup sale and it's been printed %>
<% if @sale.pickup? && @sale.status == "Printed" %>
  <div class="grid">
    <div class="unit">
      Customer will pick up their order.
    </div>
  </div>
  <div class="grid">
    <div class="unit half">
      <strong>Send "ready for pickup" email to customer and move to shipped.</strong>
      <br><br>
      <%= link_to 'Moved to Shipped + Email', { controller: "sales", action: "ready_for_pickup", id: @sale }, class: 'btn' %>
    </div>
    <div class="unit half">
      Or, move the sale to shipped with no email.
      <br><br>
      <%= link_to "Move to Shipped", sale_path(id: @sale.id, sale: { status: "Shipped" }), :remote => true, :method => :put, "data-type" => :json, id: 'markAsShipped', class: 'btn' %>
    </div>
  </div>
<%# Pickup sale and it's been shipped %>
<% elsif @sale.pickup? && @sale.status == "Shipped" %>
  <p>
      Order is ready for pickup.
  </p>
<%# Not a pickup %>
<% else %>
  <%# Not shipped yet %>
  <% if @shipments.blank? %>
    <%# Sale is shipped, but has no shipments. Manual move. %>
    <% if @sale.status == "Shipped" %>
      <p>
        This sale was manually moved to shipped. You can undo and change the status back to "Printed".
      </p>
      <p>
        <%= link_to "Undo", sale_path(id: @sale.id, sale: { status: "Printed" }), :remote => true, :method => :put, "data-type" => :json, id: 'undoMarkAsShipped', class: 'btn' %>
      </p>
    <%# Sale not shipped. %>
    <% else %>
      <% if @sale.shipping_service_is_flat_rate? %>
        Customer was charged <%= number_to_currency(cents_to_dollars(@sale.shipping_charge)) %> via flat rate shipping.
      <% end %>
      <h4>
        Ship Sale via Postmaster
      </h4>
      <p>
        <%= link_to 'Ship it', { controller: "postmaster", action: "edit_shipment", id: @sale }, class: 'btn' %>
      </p>
      <h4>
        Or, Move Sale to "Shipped" Manually
      </h4>
      <p>
        <%= link_to "Mark as 'Shipped' with email to customer", sale_path(id: @sale.id, sale: { status: "Shipped", email: true }), :remote => true, :method => :put, "data-type" => :json, id: 'markAsShipped', class: 'btn' %>
      </p>
      <p>
        <%= link_to "Mark as 'Shipped' without email", sale_path(id: @sale.id, sale: { status: "Shipped", email: false }), :remote => true, :method => :put, "data-type" => :json, id: 'markAsShippedNoEmail', class: 'btn' %>
      </p>
    <% end %>
  <%# Sale is shipped. Can add more shipments to sale. %>
  <% else %>
    <p>
      <span class="hey--yay">
        This order has been shipped.
      </span>
    </p>
    <% @shipments.each_with_index do |shipment, index| %>
      <% if index > 0 %>
        <hr>
      <% end %>
      <p>
        <b>Postmaster ID:</b>
        <%= shipment.postmaster_id %>
      </p>
      <p>
        <b>Tracking Number:</b>
        <%= render 'tracking_link', carrier: shipment.carrier, num: shipment.tracking_number %>
      </p>
      <p>
        <b>Weight:</b>
        <%= shipment.weight %>lbs.
      </p>
      <% if shipment.envelope.present? %>
        <p>
          <b>Envelope:</b>
          <%= shipment.envelope %>
        </p>
      <% else %>
        <p>
          <b>Dimensions (W &#215; H &#215; L):</b>
          <%= shipment.width %> &#215; <%= shipment.height %> &#215; <%= shipment.length %>
        </p>
      <% end %>
      <p>View details (including the shipping label):<br>
        <a href="https://www.postmaster.io/dashboard/shipments/id/<%= shipment.postmaster_id %>">
          https://www.postmaster.io/dashboard/shipments/id/<%= shipment.postmaster_id %></a>.
      </p>
      <P>
        <b>Cost:</b>
        <%= number_to_currency(cents_to_dollars(shipment.cost)) %>
    <% end %>
    <p>
      <%= link_to 'Ship another box', { controller: "postmaster", action: "edit_shipment", id: @sale }, class: 'btn' %>
    </p>
  <% end %>
<% end %>
