<p>
  <b>Company:</b>
  <%= @sale.company.present? ? @sale.company : "n/a" %>
</p>

<table style="min-width: 50%" class="table">
  <thead>
    <tr>
      <th>
        Charge Type
      </th>
      <th>
        Amount
      </th>
      <th>
        Details
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Product
      </td>
      <td>
        <%= number_to_currency(cents_to_dollars(@sale.amount)) %>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        Coupon
      </td>
      <td>
        <% if @coupon.present? %>
          -<%= number_to_currency(cents_to_dollars(@sale.saved_with_coupon)) %>
        <% else %>
          n/a
        <% end %>
      </td>
      <td>
        <% if @coupon.present? %>
          Coupon Code: <%= link_to @coupon.code, @coupon %><br>
        <% end %>
      </td>
    <% unless @sale.pickup? %>
      <tr>
        <td>
          Shipping
        </td>
        <td>
          <%= number_to_currency(cents_to_dollars(@sale.shipping_charge)) %>
        </td>
        <td>
          <%= @sale.shipping_provider.upcase %><br>
          <%= @sale.shipping_service %><br>
          <% if @sale.shipping_service_is_flat_rate? %>
            (Flat Rate)<br>
          <% else %>
            (Postmaster)
          <% end %>
          <%= @sale.weight %>lbs.<br>
          <% if @sale.shipping_contact.present? %>
              Ship to <%= @sale.shipping_contact %>.
          <% else %>
              Ship to <%= @sale.contact %>.
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        Tax
      </td>
      <td>
        <%= number_to_currency(cents_to_dollars(@sale.tax_amount)) %>
      </td>
      <td>
        <% if @sale.tax_rate.present? %>
          <%= @sale.tax_rate %>%
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Order Total
      </td>
      <td colspan=2>
        <strong><%= number_to_currency(cents_to_dollars(@sale.total)) %></strong>
      </td>
    </tr>
    <% if @gift_certificate.present? %>
      <tr>
        <td>
          Gift Certificate
        </td>
        <td>
            <% if @sale.gift_cert_applied.nil? %>
              --
            <% else %>
              -<%= number_to_currency(cents_to_dollars(@sale.gift_cert_applied)) %>
            <% end %>
        </td>
        <td>
          <% if @sale.gift_cert_remain.nil? ||
                @sale.gift_cert_applied.nil? ||
                @sale.total_with_gift_cert.nil? %>
            <p style="color:red">
              An error occurred while processing this gift certificate.
            </p>
          <% end %>
          <ul style="margin: 0; padding: 0;">
            <li>
              <%= link_to @gift_certificate.guid, @gift_certificate %>
            </li>
            <li>
              Remaining value of Gift Certificate after this sale:<br>
              <% if @sale.gift_cert_remain.nil? %>
                --
              <% else %>
                <%= number_to_currency(cents_to_dollars(@sale.gift_cert_remain)) %>
              <% end %>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          Total charged to customer via Stripe:
        </td>
        <td colspan=2>
          <% if @sale.total_with_gift_cert.nil? %>
            --
          <% else %>
            <%= number_to_currency(cents_to_dollars(@sale.total_with_gift_cert)) %>
          <% end %>
        </td>
      </tr>
    <% else %>
      <!-- NO GC -->
    <% end %>
  </tbody>
</table>


