<h1>Sales</h1>
<p>
  The first 60 sales for each tab are shown. To view older sales <%= link_to "view all", all_sales_path %>.
</p>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <p>
      <%= link_to raw('&larr; Hub'), hub_path, class: "btn" %>
    </p>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= render 'search' %>
  </div>
</div>
<div class="tabs">
  <div class="tab">
    New <span class="demph"><%= @sales_not_shipped.length %></span>
  </div>
  <div class="tab">
    Printed <span class="demph"><%= @sales_printed.length %></span>
  </div>
  <div class="tab">
    Shipped <span class="demph"><%= @sales_shipped.length %></span>
  </div>
  <div class="tab">
    Trash <span class="demph"><%= @sales_deleted.length %></span>
  </div>
  <div class="tab">
    <a href="all">
      All
    </a>
  </div>
  <div class="tab-divider"></div>
  <div class="card">
    <% cache @sales_not_shipped do %>
      <%= render 'sales_table', sales: @sales_not_shipped, title: 'Not Shipped' %>
    <% end %>
  </div>
  <div class="card">
    <% cache @sales_printed do %>
      <%= render 'sales_table', sales: @sales_printed, title: 'Printed' %>
    <% end %>
  </div>
  <div class="card">
    <% cache @sales_shipped do %>
      <%= render 'sales_table', sales: @sales_shipped, title: 'Shipped' %>
    <% end %>
  </div>
  <div class="card">
    <% cache @sales_deleted do %>
      <%= render 'sales_table', sales: @sales_deleted, title: 'Deleted' %>
    <% end %>
  </div>
  <div class="card">
    <p>
      <%= link_to "View all", all_sales_path, class: "btn" %>
  </div>
</div>

<%= content_for :js do %>
<script>
    $('h3')
        .css('cursor', 'pointer')
        .on('click', function() {
            $(this).next('table').toggle()
        })
</script>
<script>
  $(document).ready(function(){
    $('.tabs').tabs();
  });
</script>
<% end %>

