<p id="notice"><%= notice %></p>

<h2>
  Sale #<%= @sale.id %>
</h2>
<p>
  Ordered by <%= @sale.contact %>
  (<a href="mailto:<%= @sale.email %>"><%= @sale.email %></a>)
  on <%= @sale.updated_at.strftime("%b %-d, %Y, %-l:%M%p") %>.
</p>

<p>
  <%= link_to raw('&larr; Sales'), sales_path, class: "btn" %>
  <% if @sale.status != "Printed" && @sale.status != "Shipped" && @sale.status != "Deleted" %>
    <a href="/orders/<%= @sale.guid %>" class="btn">
        View Printable Page
    </a>
    <%= link_to "Mark as 'Printed'", sale_path(id: @sale.id, sale: { status: "Printed" }), :remote => true, :method => :put, "data-type" => :json, id: 'markAsPrinted', class: 'btn' %>
    <%= render "show_stripe_link" %>
  <% else %>
    <a href="/orders/<%= @sale.guid %>" class="btn">
      View Customer URL
    </a>
    <%= render "show_stripe_link" %>
  <% end %>
  <% if @sale.status != "Deleted" %>
    <%= link_to "Delete", sale_path(id: @sale.id, sale: { status: "Deleted" }), :remote => true, :method => :put, "data-type" => :json, id: 'markAsDeleted', class: 'btn' %>
  <% end %>
</p>
<% if @sale.status == "Deleted" %>
  <p>
    <i>This sale is in the trash!</i>
  </p>
<% end %>


<div class="tabs">
  <div class="tab">
    Order
  </div>
  <div class="tab">
    Shipping
  </div>
  <div class="tab">
    Data
  </div>
  <div class="tab-divider"></div>
  <div class="card">
    <%= render 'show_order' %>
  </div>
  <div class="card">
    <%= render 'show_shipping' %>
  </div>
  <div class="card">
    <h5>
      Order Data
    </h5>
    <div style="background-color: #F5EED7; padding: 5px;">
      <%= raw(ap(@sale)) %>
    </div>
    <br>
    <h5>
      Order Description Data
    </h5>
    <% if @sale.description.present? %>
      <div style="background-color: #F5EED7; padding: 5px;">
        <%= raw(ap(JSON.parse(@sale.description))) %>
      </div>
    <% end %>
  </div>
</div>

<%= content_for :js do %>
<script>
  $('#markAsPrinted').on('ajax:success', function(event) {
    $('#markAsPrinted')
      .text('Yay!')
      .fadeOut(function() {
        location.reload()
      });
  });
  $('#markAsPrinted').on('ajax:error', function(event) {
    alert('An error occurred. Try again.');
  });

  $('#markAsShipped').on('ajax:success', function(event) {
    $('#markAsShipped')
      .text('Yay!')
      .fadeOut(function() {
        location.reload()
      });
  });
  $('#markAsShipped').on('ajax:error', function(event) {
    alert('An error occurred. Try again.');
  });

  $('#markAsShippedNoEmail').on('ajax:success', function(event) {
    $('#markAsShippedNoEmail')
      .text('Yay!')
      .fadeOut(function() {
        location.reload()
      });
  });
  $('#markAsShippedNoEmail').on('ajax:error', function(event) {
    alert('An error occurred. Try again.');
  });

  $('#undoMarkAsShipped').on('ajax:success', function(event) {
    $('#undoMarkAsShipped')
      .text('Yay!')
      .fadeOut(function() {
        location.reload()
      });
  });
  $('#undoMarkAsShipped').on('ajax:error', function(event) {
    alert('An error occurred. Try again.');
  });

  $('#markAsDeleted').on('ajax:success', function(event) {
    $('#markAsDeleted')
      .text('Wah!')
      .fadeOut(function() {
        location.reload()
      });
  });
  $('#markAsDeleted').on('ajax:error', function(event) {
    alert('An error occurred. Try again.');
  });

</script>
<script>
  $(document).ready(function(){
    $('.tabs').tabs();
  });
</script>
<% end %>
