<div class="l-row row">
    <div class="col-xs-12 col-sm-8">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="pr--none">
                    Your Order
                </h2>
            </div>
        </div>
        <div class="row hide-on-mobiles pr--none">
            <div class="shoppin-cart__header col-xs-12 col-sm-3">Product</div>
            <div class="shoppin-cart__header col-xs-12 col-sm-3">Parts</div>
            <div class="shoppin-cart__header col-xs-12 col-sm-3">Quantity</div>
            <div class="shoppin-cart__header col-xs-12 col-sm-3">Total Price</div>
        </div>
        <% if @description.present? %>
            <% @description["products"].each_with_index do |product, idx| %>
                <% if idx % 2 == 0 %>
                    <br class="pr--clear">
                <% end %>
                <div class="row pr--float">
                    <div class="col-xs-12 col-sm-3">
                      <div class="col-cntnt">
                        <strong>
                            <%= product["title"] %>
                        </strong>
                        <br>
                        <% if product["selectedSize"].present? %>
                            <span class=demph>Size: <%= product["selectedSize"]["title"] %></span>
                            <br>
                        <% end %>
                        <span class=demph>Base Price: <%= number_to_currency product["price"].to_i %></span>
                        <br>
                        <a href=/products/<%= product["id"] %> class="demph pr--none">
                            View Product
                        </a>
                        <br>
                        <br>
                        <% if product["selectedAnswer"].present? && product["question"].present? %>
                          <span class=demph><%= product["question"] %>:</span><br>
                          <span class=demph><em><%= product["selectedAnswer"] %></em></span>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <% if product["parts"].present? %>
                            <ul class="shoppin-cart__part-list">
                                <% product["parts"].each do |part| %>
                                    <li>
                                        <span class="pr--bold"><%= part["title"] %></span>
                                        <% if part["price"].present? %>
                                            (<%= number_to_currency part["price"].to_i %>)
                                        <% end %>
                                        <% if part["selectedColor"].present? %>
                                            <span class="demph">
                                                <br class="pr--none">
                                                <span class="pr--none">Fabric:</span> <span class="pr--inline">[</span><%= part["selectedColor"]["title"] %><span class="pr--inline">]</span>
                                                <% if part["selectedColor"]["price"].present? %>
                                                    (<%= number_to_currency part["selectedColor"]["price"].to_i %>)
                                                <% end %>
                                            </span>
                                        <% end %>
                                    </li>
                                <% end %>
                            </ul>
                        <% else %>
                            n/a
                        <% end %>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        Qty: <%= product["quantity"] %>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <strong>
                            <%= number_to_currency product["totalPrice"].to_i %>
                        </strong>
                    </div>
                </div>
            <% end %>
        <% else %>
            <p>
                No order description is available. We have been notified about this issue.
            </p>
        <% end %>
        <hr class="pr--block pr--clear">
        <% if @sale.coupon_code.present? && @sale.coupon_code != "f" %>
          <div class="row shoppin-cart__cart-price-row">
              <div class="col-xs-5 col-xs-offset-7">
                  Coupon: -<%= number_to_currency(cents_to_dollars(@sale.saved_with_coupon))%> (<%= @sale.coupon_code %>)
              </div>
          </div>
        <% end %>
        <% if @sale.amount.present? %>
          <div class="row shoppin-cart__cart-price-row">
              <div class="col-xs-5 col-xs-offset-7">
                  Subtotal: <%= number_to_currency(cents_to_dollars(@sale.amount))%>
              </div>
          </div>
        <% end %>
        <% if @sale.tax_amount.present? %>
          <div class="row shoppin-cart__cart-price-row">
              <div class="col-xs-5 col-xs-offset-7">
                  Tax: <%= number_to_currency(cents_to_dollars(@sale.tax_amount)) %>
              </div>
          </div>
        <% end %>
        <% if @sale.shipping_charge.present? %>
          <div class="row shoppin-cart__cart-price-row">
              <div class="col-xs-5 col-xs-offset-7">
                  Shipping: <%= number_to_currency(cents_to_dollars(@sale.shipping_charge)) %>
              </div>
          </div>
        <% end %>
        <div class="row shoppin-cart__cart-price-row">
            <div class="col-xs-5 col-xs-offset-7">
              <div class="col-cntnt">
                Order Total: <strong><%= number_to_currency(cents_to_dollars(@sale.total)) %></strong>
              </div>
            </div>
        </div>
        <% if @sale.gift_certificate_guid.present? %>
          <div class="row shoppin-cart__cart-price-row">
              <div class="col-xs-5 col-xs-offset-7">
                  Gift Certificate Applied: <%= number_to_currency(cents_to_dollars(@sale.gift_cert_applied)) %>
              </div>
          </div>
        <% end %>
        <% if @sale.total_with_gift_cert.present? %>
          <div class="row shoppin-cart__cart-price-row">
              <div class="col-xs-5 col-xs-offset-7">
                <div class="col-cntnt">
                  Total Charged to Card: <strong><%= number_to_currency(cents_to_dollars(@sale.total_with_gift_cert)) %></strong>
                </div>
              </div>
          </div>
        <% end %>
        <hr class="pr--block">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h4 class="pr--block">
                    Name
                </h4>
                <p class="pr--block">
                    <% if @sale.contact.present? %>
                        <%= @sale.contact %>
                    <% end %>
                </p>
                <h4>
                    Email Address
                </h4>
                <p>
                    <%= @sale.email %>
                </p>
                <h4>
                    Order Date
                </h4>
                <p id="order_date">
                    <%= @sale.created_at.strftime("%B %e, %Y") %>
                </p>
                <h4>
                    Order ID
                </h4>
                <p>
                    <code><%= @sale.guid %></code>
                </p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <% if @sale.pickup? %>
                  <h4>
                      Shipment Tracking
                  </h4>
                  <p>
                    You will be picking up your order. We'll let you know by email when it's ready.
                  </p>
                <% else %>
                  <h4 class="pr--none">
                      Shipment Tracking
                  </h4>
                    <% if @shipments.blank? %>
                      <p class="pr--none">
                        When your order has shipped we will email you the shipping information.
                        As well, the shipping information will appear on this page.
                      </p>
                    <% else %>
                      <% if @shipments.length > 1 %>
                        <p>
                          Your order shipped in multiple packages.
                        </p>
                      <% end %>
                      <% @shipments.each_with_index do |shipment, index| %>
                        <p>
                          <% if @shipments.length > 1 %>
                            <b>Package <%= index + 1 %></b><br>
                          <% end %>
                          Carrier: <%= shipment.carrier.upcase %>
                          <br>Tracking Number: <%= render 'tracking_link', carrier: shipment.carrier, num: shipment.tracking_number %>
                        </p>
                      <% end %>
                    <% end %>
                  <h4>
                      Shipping Address
                  </h4>
                  <p>
                      <% if @sale.shipping_contact.present? %>
                          <%= @sale.shipping_contact %><br>
                      <% end %>
                      <%= @sale.line1 %><br>
                      <%= @sale.city %>, <%= @sale.state %> <%= @sale.zip_code %>
                  </p>
                  <h4>
                      Shipping Charge
                  </h4>
                  <p>
                      <%= number_to_currency(cents_to_dollars(@sale.shipping_charge)) %> via <%= @sale.shipping_provider.upcase %> <%= @sale.shipping_service %>.
                  </p>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 pr--none">
        <h4>
            Questions?
        </h4>
        <p>
            If you have any questions about your order, contact us:
        </p>
        <% cache ["product_success_contact", Company.first, @sale] do %>
          <ul class="nice-list">
              <li>
                  <%= mail_to Company.first.email, Company.first.email, encode: "hex", body: "\n\n--\nSale ID: #{@sale.guid}" %>
              </li>
              <li>
                  <%= link_to Company.first.phone, Company.first.phone_link %>
              </li>
          </ul>
        <% end %>
        <h4>
            Delivery Time
        </h4>
        <div class="handmade_label">handmade</div>
        <% cache ["product_success_delivery_time", Company.first] do %>
          <p>
            <%= Company.first.delivery_time %>
          </p>
        <% end %>
    </div>
</div>

<%= content_for :js do %>
  <script>
    (function() {
      // Now that the items have been purchased,
      // remove them from the cart
      try {
        localStorage.removeItem('cart')
      } catch (ex) {
        SwiftUtils.notifyNoLocalStorage(ex);
      }
    })()
  </script>
<% end %>
