<h1>Listing testimonials</h1>

<div class="responsive-table-container">
<table class="table">
  <thead>
  <tr>
    <th>Body</th>
    <th>Author</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @testimonials.each do |testimonial| %>
  <tr>
    <td><%= testimonial.body %></td>
    <td><%= testimonial.author %></td>
    <td><%= testimonial.product_id %></td>
    <td><%= link_to 'Show', testimonial %></td>
    <td><%= link_to 'Edit', edit_testimonial_path(testimonial) %></td>
    <td><%= link_to 'Destroy', testimonial, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>

<%= link_to 'New Testimonial', new_testimonial_path %>
