<!DOCTYPE html>
<html ng-app="SwiftApp" class="nojs">
<head>
  <meta charset="utf-8">
  <%# Always force latest IE rendering engine (even in intranet) & Chrome Frame
      Remove this if you use the .htaccess %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>
    <%= "#{@subtitle} from " if @subtitle.present? %><%= @title %> | handmade bicycle panniers and accessories
  </title>
  <% cache ["meta_description", Company.first ] do %>
    <meta description="<%= Company.first.description if Company.first.description.present? %>">
  <% end %>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link type="text/plain" rel="author" href="//www.builtbyswift.com/humans.txt">
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application" %>
  <%= yield :css %>
  <%= stylesheet_link_tag "print", media: "print" %>
  <%= csrf_meta_tag %>
</head>
<body class="page_<%= controller_name.downcase %>_<%= action_name.downcase %>">
  <% cache ["layout_company_front_door_sign", Company.first] do %>
    <% if Company.first.front_door_sign.present? %>
      <h2 class="front_door_sign">
        <%= Company.first.front_door_sign %>
      </h2>
    <% end %>
  <% end %>
  <% if current_user.try(:wholesale?) %>
    <h2 class="front_door_sign">
      Minimum $500 purchase required for wholesale purchases.
    </h2>
  <% elsif user_signed_in? && current_user.is_pending_wholesale %>
    <h2 class="front_door_sign">
      Your account is pending approval. If you have submitted your dealer application: sit
      tight, we'll have you cleared within 24 hours. You will receive an email you when
      your account is live.
    </h2>
  <% end %>
  <h2 id="js_app-notice" class="app-notice" style="display:none"></h2>
  <h2 id="js_app-alert" class="app-alert" style="display:none"></h2>
  <div class="l-container-nav-bar-wrap">
    <div class="l-container-nav-bar l-container--fluid">
      <div class="NavBar">
        <i id="global-menu-btn" class="NavBar-sandwich icon-menu"></i>
        <a href="/" title="Home" class="NavBar-home-link">
          <%= image_set_tag "fox-45.png", { "fox-45.png" => "2x" }, { class: "img-fox" }%>
        </a>
        <a
            href="/cart"
            class="NavBar-cart"
            ng-controller="CartStatusCtrl"
            ng-cloak
            title="View Your Cart {{ cart.message }}">
          <i class='icon-basket cart-happy--{{ !!cart.products.length }}'>
            <span ng-if="cart.products.length" class="NavBar-cart-count">
              {{ cart.products.length }}
            </span>
          </i>
        </a>
        <% if user_signed_in? %>
          <%= link_to(raw("<i class='icon-user'></i>"), profile_path, class: "NavBar-user", title: "View Your Profile") %>
          <%= link_to("Sign Out", destroy_user_session_path, method: :delete, class: "NavBar-sign-in-out NavBar-sign-out") %>
        <% else %>
          <% if controller_name === "solstice" %>
            <%= link_to("Camper Sign In", new_user_session_path(swiftcampout: "1"), class: "NavBar-sign-in-out NavBar-sign-in") %>
          <% else %>
            <%= link_to("Dealer Sign In", new_user_session_path(wholesale: "1"), class: "NavBar-sign-in-out NavBar-sign-in") %>
          <% end %>
        <% end %>
        <br class="clear">
      </div>
      <%= render 'shared/global_nav' %>
    </div>
  </div>
  <% cache ["company_description_etc", Company.first] do %>
    <div class="l-container--fluid l-container--logo">
      <div class="col-xs-12 row-header" style="text-align: center">
        <h1 class="row-header--logo-wrap">
          <a href="/" class="row-header--link" title="Go Home">
            <%= image_set_tag "logo_280.png", { "logo_560.png" => "2x" }, { class: "row-header--logo", alt: "Swift Industries" } %>
          </a>
        </h1>
        <h2 class="row-header--description">
          <%= Company.first.description if Company.first.description.present? %>
        </h2>
      </div>
    </div>
  <% end %>
  <div class="l-container--fluid l-container--main l-container--constrained">
    <%= yield %>
  </div>
  <div class="l-container--footer-wrap l-container--constrained l-container--fluid">
    <div class="l-container--footer">
      <%= render "shared/footer" %>
      <%# render "shared/no_js" %>
      <%= render "shared/humans" %>
    </div>
  </div>
  <% if current_user.try(:wholesale?) %>
  <script>window.__iswsu__=true</script>
  <% end %>
  <div class=lightbox><img class=lightbox-img><div class=lightbox-close></div></div>
  <script>
    // Polyfill JSON for old browsers
    if (!Object.prototype.hasOwnProperty.call(window, "JSON")) {
      var script = document.createElement('script');
      script.src = "//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js";
      document.write(script.outerHTML);
    }
  </script>
  <script>
  // Ripped from http://tanalin.com/en/articles/ie-version-js/
  (function() {
      window.ieVersion = /*@cc_on (function() {switch(@_jscript_version) {case 5.8: return 8; case 9: return 9; case 10: return 10;}})() || @*/ 0;
  })();
  </script>
  <%= yield :before_js %>
  <%= javascript_include_tag "application" %>
  <%= yield :js %>
  <%= render "shared/analytics" unless Rails.env == "development" %>
</body>
</html>
