<!DOCTYPE html>
<html ng-app="SwiftApp" class="nojs">
<head>
  <meta charset="utf-8">
  <%# Always force latest IE rendering engine (even in intranet) & Chrome Frame
      Remove this if you use the .htaccess %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>
    <%= "#{@subtitle} from " if @subtitle.present? %><%= @title %> | handmade bicycle panniers and accessories
  </title>
  <link type="text/plain" rel="author" href="//builtbyswift.com/humans.txt">
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application" %>
  <%= yield :css %>
  <%= stylesheet_link_tag "print", media: "print" %>
  <%= csrf_meta_tag %>
</head>
<body id="page_<%= controller_name.downcase %>_<%= action_name.downcase %>">
  <h2 id="js_app-notice" class="app-notice" style="display:none"></h2>
  <h2 id="js_app-alert" class="app-alert" style="display:none"></h2>
  <div class="l-container-nav-bar-wrap">
    <div class="l-container-nav-bar l-container--fluid">
      <div class="NavBar">
        <i id="global-menu-btn" class="NavBar-sandwich icon-menu"></i>
        <a href="/" title="Home" class="NavBar-home-link">
          <%= image_set_tag "fox-45.png", { "fox-45.png" => "2x" }, { class: "img-fox" }%>
        </a>
        <a
            href="/cart"
            class="NavBar-cart"
            ng-controller="CartStatusCtrl"
            ng-cloak
            title="View Your Cart {{ cart.message }}">
          <i class='icon-basket cart-happy--{{ !!cart.products.length }}'>
            <span ng-if="cart.products.length" class="NavBar-cart-count">
              {{ cart.products.length }}
            </span>
          </i>
        </a>
        <% if user_signed_in? %>
          <%= link_to(raw("<i class='icon-user'></i>"), profile_path, class: "NavBar-user", title: "View Your Profile") %>
          <%= link_to("Sign Out", destroy_user_session_path, method: :delete, class: "NavBar-sign-in-out NavBar-sign-out") %>
        <% else %>
          <% if controller_name === "solstice" || @is_attending_campout_in_2015 %>
            <%= link_to("Camper Sign In", new_user_session_path(swiftcampout: "1"), class: "NavBar-sign-in-out NavBar-sign-in") %>
          <% else %>
            <%= link_to("Dealer Sign In", new_user_session_path(wholesale: "1"), class: "NavBar-sign-in-out NavBar-sign-in") %>
          <% end %>
        <% end %>
        <br class="clear">
      </div>
      <%= render 'shared/global_nav' %>
    </div>
  </div>
  <div class="l-container--fluid l-container--logo">
    <div class="col-xs-12 row-header" style="text-align: center">
      <h1 class="row-header--logo-wrap">
        <a href="/" class="row-header--link" title="Go Home">
          <%= image_tag "logo.png", :class => "row-header--logo", :alt => "Swift Industries" %>
        </a>
      </h1>
      <h2 class="row-header--description">
        <% cache ['company_description', Company.first] do %>
          <%= Company.first.description if Company.first.description.present? %>
        <% end %>
      </h2>
    </div>
  </div>
  <div class="l-container--fluid l-container--main l-container--constrained--devise">
    <%= yield %>
  </div>
  <div class=lightbox><img class=lightbox-img><div class=lightbox-close></div></div>
  <%= javascript_include_tag "application" %>
  <%= yield :js %>
  <%= render "shared/analytics" unless Rails.env == "development" %>
</body>
</html>
